openapi: "3.0.0"
servers:
  - url: 'https://api.naxai.com'
info:
  title: Naxai
  version: "1.0.0"
  x-connector-module: people
  x-connector-icon: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAV1BMVEVHcEw2w/4+7/8xpf0DCg074P850/896P8/8f861/873/850P83x/8yrPo3yf82wP8zs/8xpf8qe/8yq/8ulf8tj/8sif8+6/8qev80uP8sif8yqv8vm/9fl6RMAAAAHXRSTlMAL2sfAWVCdE2If5OQDpumuM5swt2e7Fn/r/7u+uUtgjoAAAFWSURBVHgBjdMFgsQgDAXQH6i7K/c/5xJSBmad0bYPTQKAlAaQfGnQKSEBkKk8s8CSRzkNZLkqHCiUKlMZIjAgLRlAQFU3LWNmcH/apqsCyKu6H0ge8wugoa9LmSJhUFowTnitYRq/AfOyigDWZR767gFIGHQMtk2zaLdtGRlUagfcCBWDcdmOIwOy42BwCuAF7QxOAQfpw4H57OoqZ5Bgt5vozlnANH0P+q+At+FBKeDw4LBgCCCrZJdXAJfss8ocwF7bTdwmBuae+65OnxhCN+Nt3oG5x4b4uftQM9/3F1AzYIH0meLy4LJTDDyFW0FY5PX9IsM2wwhhm78f1L+POg6W1l9BHG4CKAq3gJAwS8sbbxcGvQd4TzngPeUQJe0OAfaTSdIGwPvUcfXpM2S1FE7J08et7CoPMqXKnYd2n1dt7mUAOfnSjBrIA9pbWVzc+E67E/ABVZcrU+reqxkAAAAASUVORK5CYII=
paths:
  /people/contacts/{identifier}:
    put:
      operationId: PutContact
      x-connector-label: Add or Update Contact
      description: Add a new contact or update an existing contact with the given identifier.
      parameters:
        - name: identifier
          in: path
          description: Identifier of the contact. For more details, see <a href="https://docs.naxai.com/docs/add-and-update-contacts-using-the-api" target="_blank">Naxai documentation</a>.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                phone:
                  type: string
                externalId:
                  type: string
                unsubscribed:
                  type: boolean
                language:
                  type: string
                createdAt:
                  type: integer
                  description: "The date of creation of the contact in seconds. Example: 1671179612"
      responses:
        '200':
          description: Successful operation
  /people/attributes:
    get:
      x-connector-label: "List all attributes"
      operationId: "GetAttributes"
      description: "List all attributes. Reserved Attributes are not returned."
      parameters:
        - name: "X-Version"
          in: "header"
          required: false
          schema:
            type: "string"
          description: "The version of API, by default use the last version."
      responses:
        '200':
          description: "A successful request returning an array of attributes."
          content:
            application/json:
              schema:
                type: "array"
                items:
                  type: "object"
                  properties:
                    name:
                      type: "string"
                      required: true
  /people/contacts/keyIdentifier:
    get:
      x-connector-label: "Get Contacts Identifier"
      operationId: "GetContactsIdentifier"
      description: "Get the identifier used for contacts. Identifier can be email, phone or externalId."
      parameters:
        - name: "X-Version"
          in: "header"
          required: false
          schema:
            type: "string"
          description: "The version of API, by default use the last version."
      responses:
        '200':
          description: "A successful request returning the type of identifier used (email, phone or externalId)."
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  identifier:
                    type: "string"
                    enum: ["phone", "email", "externalId"]
components:
  securitySchemes:
