node_modules/
frontend/node_modules/
frontend/build/
gridd/spmdb
logs/
deploy/
.DS_Store
*.log
*.cmd
*.bat
.idea/*
.fuse_*
tags
yarn.lock
**/yarn.lock
tags.lock
.vscode
*~*
.env.local
coverage/
.nyc_output/
