.wx-material-theme {
    --wx-color-primary: #303236;
    --wx-button-border-radius: 5px;
    --wx-chat-msg-background-agent: #f7f9fa;
    --wx-chat-msg-background: white;
    --wx-chat-textarea-background: white;
    --wx-chat-msg-blocks-background-agent: #f7f9fa;
    --wx-chat-msg-blocks-border: 2px solid #cfd6df;
    --wx-chat-msg-blocks-border-radius: 5px;
}

.primary {

}
.message {
    border: 2px solid #cfd6df;
}

#chat-container {
    height: 100vh;
}