{
    "openapi": "3.0.0",
    "info": {
        "contact": {
            "name": "Zoom Developers",
            "url": "https://developer.zoom.us/"
        },
        "description": "The Zoom Meeting API lets developers access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, see our [OAuth](https://marketplace.zoom.us/docs/guides/auth/oauth) documentation. \n\nAll endpoints are available via `https` and are located at `api.zoom.us/v2/`. For example, to list all of an account's users, use the `https://api.zoom.us/v2/users/` endpoint.",
        "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
        "title": "Zoom Meeting API",
        "version": "2.0.0",
        "x-connector-service": "zoom",
        "x-connector-module": "meeting",
        "x-connector-icon": "https://seeklogo.com/images/Z/zoom-fondo-azul-vertical-logo-8246E36E95-seeklogo.com.png"
    },
    "servers": [
        {
            "url": "https://api.zoom.us/v2"
        }
    ],
    "paths": {
        "/accounts/{accountId}/managed_domains": {},
        "/accounts/{accountId}/settings": {},
        "/accounts/{accountId}/lock_settings": {},
        "/accounts/{accountId}/settings/registration": {},
        "/groups/{groupId}/settings/registration": {},
        "/accounts/{accountId}/trusted_domains": {},
        "/archive_files": {},
        "/rooms/calendar/services": {},
        "/rooms/calendar/services/{serviceId}": {},
        "/rooms/calendar/services/{serviceId}/sync": {},
        "/rooms/calendar/services/{serviceId}/resources": {},
        "/rooms/calendar/services/{serviceId}/resources/{resourceId}": {},
        "/groups": {},
        "/groups/{groupId}": {},
        "/groups/{groupId}/admins": {},
        "/groups/{groupId}/admins/{userId}": {},
        "/groups/{groupId}/lock_settings": {},
        "/groups/{groupId}/members": {},
        "/groups/{groupId}/members/{memberId}": {},
        "/groups/{groupId}/settings": {},
        "/groups/{groupId}/settings/virtual_backgrounds": {},
        "/contacts/groups": {},
        "/contacts/groups/{groupId}": {},
        "/contacts/groups/{groupId}/members": {},
        "/h323/devices": {},
        "/h323/devices/{deviceId}": {},
        "/im/groups": {},
        "/im/groups/{groupId}": {},
        "/im/groups/{groupId}/members": {},
        "/im/groups/{groupId}/members/{memberId}": {},
        "/users/{userId}/meetings": {
            "get": {
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The user ID or email address of the user. For user-level apps, pass the `me` value.",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "example": "6dfgdfgdg444447b0egga",
                                    "default": "me",
                                    "x-connector-field-index": 1000
                                },
                                {
                                    "type": "string",
                                    "format": "email",
                                    "example": "jchill@example.com"
                                },
                                {
                                    "type": "string",
                                    "enum": [
                                        "me"
                                    ],
                                    "example": "me"
                                }
                            ]
                        }
                    },
                    {
                        "description": "The type of meeting: \n* `scheduled` — All valid previous (unexpired) meetings, live meetings, and upcoming scheduled meetings. \n* `live` — All the ongoing meetings. \n* `upcoming` — All upcoming meetings, including live meetings. \n* `upcoming_meetings` — All upcoming meetings, including live meetings. \n* `previous_meetings` — All the previous meetings.",
                        "in": "query",
                        "name": "type",
                        "schema": {
                            "type": "string",
                            "default": "scheduled",
                            "enum": [
                                "scheduled",
                                "live",
                                "upcoming",
                                "upcoming_meetings",
                                "previous_meetings"
                            ],
                            "example": "scheduled"
                        }
                    },
                    {
                        "description": "The number of records returned within a single API call.",
                        "in": "query",
                        "name": "page_size",
                        "schema": {
                            "default": 30,
                            "maximum": 300,
                            "type": "integer",
                            "example": 30
                        }
                    },
                    {
                        "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                        "in": "query",
                        "name": "next_page_token",
                        "schema": {
                            "type": "string",
                            "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                        }
                    },
                    {
                        "description": "The page number of the current page in the returned records.",
                        "in": "query",
                        "name": "page_number",
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of meetings.",
                                    "properties": {
                                        "next_page_token": {
                                            "description": "Use the next page token to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
                                            "type": "string",
                                            "example": "Tva2CuIdTgsv8wAnhyAdU3m06Y2HuLQtlh3"
                                        },
                                        "page_count": {
                                            "description": "The number of pages returned for the request made.",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "page_number": {
                                            "default": 1,
                                            "description": "The page number of the current results.",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "page_size": {
                                            "default": 30,
                                            "description": "The number of records returned with a single API call.",
                                            "maximum": 300,
                                            "type": "integer",
                                            "example": 30
                                        },
                                        "total_records": {
                                            "description": "The total number of all the records available across pages.",
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "meetings": {
                                            "description": "List of Meeting objects.",
                                            "items": {
                                                "properties": {
                                                    "agenda": {
                                                        "description": "Meeting description. The length of agenda gets truncated to 250 characters when you list all meetings for a user. To view the complete agenda of a meeting, retrieve details for a single meeting, use the [**Get a meeting**](/docs/api-reference/zoom-api/methods#operation/meeting) API.",
                                                        "type": "string",
                                                        "example": "My Meeting"
                                                    },
                                                    "created_at": {
                                                        "description": "Time of creation. ",
                                                        "format": "date-time",
                                                        "type": "string",
                                                        "example": "2022-03-23T05:31:16Z"
                                                    },
                                                    "duration": {
                                                        "description": "Meeting duration.",
                                                        "type": "integer",
                                                        "example": 60
                                                    },
                                                    "host_id": {
                                                        "description": "ID of the user who is set as the host of the meeting.",
                                                        "type": "string",
                                                        "example": "30R7kT7bTIKSNUFEuH_Qlg"
                                                    },
                                                    "id": {
                                                        "description": "Meeting ID - also known as the meeting number in long (int64) format.",
                                                        "format": "int64",
                                                        "type": "integer",
                                                        "example": 97763643886
                                                    },
                                                    "join_url": {
                                                        "description": "URL using which participants can join a meeting.",
                                                        "type": "string",
                                                        "example": "https://example.com/j/11111"
                                                    },
                                                    "pmi": {
                                                        "description": "[Personal meeting ID](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis/#understanding-personal-meeting-id-pmi). This field is only returned if PMI was used to schedule the meeting.",
                                                        "type": "string",
                                                        "example": "97891943927"
                                                    },
                                                    "start_time": {
                                                        "description": "Meeting start time.",
                                                        "format": "date-time",
                                                        "type": "string",
                                                        "example": "2022-03-23T06:00:00Z"
                                                    },
                                                    "timezone": {
                                                        "description": "Timezone to format the meeting start time. ",
                                                        "type": "string",
                                                        "example": "America/Los_Angeles"
                                                    },
                                                    "topic": {
                                                        "description": "Meeting topic.",
                                                        "type": "string",
                                                        "example": "My Meeting"
                                                    },
                                                    "type": {
                                                        "description": "Meeting Types:<br>`1` - Instant meeting.<br>`2` - Scheduled meeting.<br>`3` - Recurring meeting with no fixed time.<br>`8` - Recurring meeting with fixed time.",
                                                        "enum": [
                                                            1,
                                                            2,
                                                            3,
                                                            8
                                                        ],
                                                        "type": "integer",
                                                        "x-enum-descriptions": [
                                                            "Instant Meeting",
                                                            "Scheduled Meeting",
                                                            "Recurring Meeting with no fixed time",
                                                            "Recurring Meeting with fixed time"
                                                        ],
                                                        "example": 2
                                                    },
                                                    "uuid": {
                                                        "description": "Unique Meeting ID. Each meeting instance will generate its own Meeting UUID.",
                                                        "type": "string",
                                                        "example": "aDYlohsHRtCd4ii1uC2+hA=="
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object",
                                    "title": "Group List"
                                }
                            }
                        },
                        "description": "**HTTP Status Code:** `200`<br>\nList of meeting objects returned."
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `3161` <br>\nMeeting hosting and scheduling capabilities are not allowed for your user account."
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404`<br>\nUser ID not found.<br>\n**Error Code:** `1001`<br>\nUser {userId} not exist or not belong to this account.<br>"
                    }
                },
                "security": [
                    {
                        "OAuth": []
                    }
                ],
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetings",
                "summary": "List meetings",
                "x-connector-pagination": {
                    "type": "cursor",
                    "parameters": {
                        "limit": "page_size",
                        "page": 20,
                        "cursor": "next_page_token",
                        "next": "next_page_token",
                        "results": "meetings",
                        "counter": "page_number"
                    }
                }
            },
            "post": {
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "The user ID or email address of the user. For user-level apps, pass the `me` value.",
                        "required": true,
                        "schema": {
                            "anyOf": [
                                {
                                    "type": "string",
                                    "example": "6dfgdfgdg444447b0egga",
                                    "default": "me",
                                    "x-connector-field-index": 1000
                                },
                                {
                                    "type": "string",
                                    "format": "email",
                                    "example": "jchill@example.com"
                                },
                                {
                                    "type": "string",
                                    "enum": [
                                        "me"
                                    ],
                                    "example": "me"
                                }
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "assistant_id": {
                                            "description": "The ID of the user who scheduled this meeting on behalf of the host.",
                                            "type": "string",
                                            "example": "kFFvsJc-Q1OSxaJQLvaa_A"
                                        },
                                        "host_email": {
                                            "description": "Email address of the meeting host.",
                                            "format": "email",
                                            "type": "string",
                                            "example": "jchill@example.com"
                                        },
                                        "id": {
                                            "description": "[Meeting ID](https://support.zoom.us/hc/en-us/articles/201362373-What-is-a-Meeting-ID-): Unique identifier of the meeting in \"**long**\" format(represented as int64 data type in JSON), also known as the meeting number.",
                                            "format": "int64",
                                            "type": "integer",
                                            "example": 92674392836
                                        },
                                        "registration_url": {
                                            "description": "URL using which registrants can register for a meeting. This field is only returned for meetings that have enabled registration.",
                                            "type": "string",
                                            "example": "https://example.com/meeting/register/7ksAkRCoEpt1Jm0wa-E6lICLur9e7Lde5oW6"
                                        },
                                        "agenda": {
                                            "description": "Agenda",
                                            "type": "string",
                                            "example": "My Meeting"
                                        },
                                        "created_at": {
                                            "description": "The date and time at which this meeting was created.",
                                            "format": "date-time",
                                            "type": "string",
                                            "example": "2022-03-25T07:29:29Z"
                                        },
                                        "duration": {
                                            "description": "Meeting duration.",
                                            "type": "integer",
                                            "example": 60
                                        },
                                        "h323_password": {
                                            "description": "H.323/SIP room system password",
                                            "type": "string",
                                            "example": "123456"
                                        },
                                        "join_url": {
                                            "description": "URL for participants to join the meeting. This URL should only be shared with users that you would like to invite for the meeting.",
                                            "type": "string",
                                            "example": "https://example.com/j/11111"
                                        },
                                        "occurrences": {
                                            "description": "Array of occurrence objects.",
                                            "items": {
                                                "description": "Occurrence object. This object is only returned for Recurring Webinars.",
                                                "properties": {
                                                    "duration": {
                                                        "description": "Duration.",
                                                        "type": "integer",
                                                        "example": 60
                                                    },
                                                    "occurrence_id": {
                                                        "description": "Occurrence ID: Unique Identifier that identifies an occurrence of a recurring webinar. [Recurring webinars](https://support.zoom.us/hc/en-us/articles/216354763-How-to-Schedule-A-Recurring-Webinar) can have a maximum of 50 occurrences.",
                                                        "type": "string",
                                                        "example": "1648194360000"
                                                    },
                                                    "start_time": {
                                                        "description": "Start time.",
                                                        "format": "date-time",
                                                        "type": "string",
                                                        "example": "2022-03-25T07:46:00Z"
                                                    },
                                                    "status": {
                                                        "description": "Occurrence status.",
                                                        "type": "string",
                                                        "example": "available"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "password": {
                                            "description": "Meeting password. Password may only contain the following characters: `[a-z A-Z 0-9 @ - _ * !]`\n\nIf \"Require a password when scheduling new meetings\" setting has been **enabled** **and** [locked](https://support.zoom.us/hc/en-us/articles/115005269866-Using-Tiered-Settings#locked) for the user, the password field will be autogenerated in the response even if it is not provided in the API request. \n\n\n",
                                            "type": "string",
                                            "example": "123456"
                                        },
                                        "pmi": {
                                            "description": "[Personal Meeting ID (PMI)](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis#understanding-personal-meeting-id-pmi). Only used for scheduled meetings and recurring meetings with no fixed time.",
                                            "type": "string",
                                            "example": "97891943927"
                                        },
                                        "pre_schedule": {
                                            "default": false,
                                            "description": "Whether the prescheduled meeting was created via the [GSuite app](https://support.zoom.us/hc/en-us/articles/360020187492-Zoom-for-GSuite-add-on). This **only** supports the meeting `type` value of `2` (scheduled meetings) and `3` (recurring meetings with no fixed time): \n* `true` — A GSuite prescheduled meeting. \n* `false` — A regular meeting.",
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "recurrence": {
                                            "description": "Recurrence object. Use this object only for a meeting with type `8` i.e., a recurring meeting with fixed time. ",
                                            "properties": {
                                                "end_date_time": {
                                                    "description": "Select the final date on which the meeting will recur before it is canceled. Should be in UTC time, such as 2017-11-25T12:00:00Z. (Cannot be used with \"end_times\".)",
                                                    "format": "date-time",
                                                    "type": "string",
                                                    "example": "2022-04-02T15:59:00Z"
                                                },
                                                "end_times": {
                                                    "default": 1,
                                                    "description": "Select how many times the meeting should recur before it is canceled. (Cannot be used with \"end_date_time\".)",
                                                    "maximum": 365,
                                                    "type": "integer",
                                                    "example": 7
                                                },
                                                "monthly_day": {
                                                    "default": 1,
                                                    "description": "Use this field **only if you're scheduling a recurring meeting of type** `3` to state which day in a month, the meeting should recur. The value range is from 1 to 31.\n\nFor instance, if you would like the meeting to recur on 23rd of each month, provide `23` as the value of this field and `1` as the value of the `repeat_interval` field. Instead, if you would like the meeting to recur every three months, on 23rd of the month, change the value of the `repeat_interval` field to `3`.",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "monthly_week": {
                                                    "description": "Use this field **only if you're scheduling a recurring meeting of type** `3` to state the week of the month when the meeting should recur. If you use this field, **you must also use the `monthly_week_day` field to state the day of the week when the meeting should recur.** <br>`-1` - Last week of the month.<br>`1` - First week of the month.<br>`2` - Second week of the month.<br>`3` - Third week of the month.<br>`4` - Fourth week of the month.",
                                                    "enum": [
                                                        -1,
                                                        1,
                                                        2,
                                                        3,
                                                        4
                                                    ],
                                                    "type": "integer",
                                                    "x-enum-descriptions": [
                                                        "Last week",
                                                        "First week",
                                                        "Second week",
                                                        "Third week",
                                                        "Fourth week"
                                                    ],
                                                    "example": 1
                                                },
                                                "monthly_week_day": {
                                                    "description": "Use this field **only if you're scheduling a recurring meeting of type** `3` to state a specific day in a week when the monthly meeting should recur. To use this field, you must also use the `monthly_week` field. \n\n<br>`1` - Sunday.<br>`2` - Monday.<br>`3` - Tuesday.<br>`4` -  Wednesday.<br>`5` - Thursday.<br>`6` - Friday.<br>`7` - Saturday.",
                                                    "enum": [
                                                        1,
                                                        2,
                                                        3,
                                                        4,
                                                        5,
                                                        6,
                                                        7
                                                    ],
                                                    "type": "integer",
                                                    "x-enum-descriptions": [
                                                        "Sunday",
                                                        "Monday",
                                                        "Tuesday",
                                                        "Wednesday",
                                                        "Thursday",
                                                        "Friday",
                                                        "Saturday"
                                                    ],
                                                    "example": 1
                                                },
                                                "repeat_interval": {
                                                    "description": "Define the interval at which the meeting should recur. For instance, if you would like to schedule a meeting that recurs every two months, you must set the value of this field as `2` and the value of the `type` parameter as `3`. \n\nFor a daily meeting, the maximum interval you can set is `90` days. For a weekly meeting the maximum interval that you can set is  of `12` weeks. For a monthly meeting, there is a maximum of `3` months.\n\n",
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "type": {
                                                    "description": "Recurrence meeting types:<br>`1` - Daily.<br>`2` - Weekly.<br>`3` - Monthly.",
                                                    "enum": [
                                                        1,
                                                        2,
                                                        3
                                                    ],
                                                    "type": "integer",
                                                    "x-enum-descriptions": [
                                                        "Daily",
                                                        "Weekly",
                                                        "Monthly"
                                                    ],
                                                    "example": 1
                                                },
                                                "weekly_days": {
                                                    "type": "string",
                                                    "default": "1",
                                                    "description": "This field is required **if you're scheduling a recurring meeting of type** `2` to state which day(s) of the week the meeting should repeat. <br> <br> The value for this field could be a number between `1` to `7` in string format. For instance, if the meeting should recur on Sunday, provide `\"1\"` as the value of this field.<br><br> **Note:** If you would like the meeting to occur on multiple days of a week, you should provide comma separated values for this field. For instance, if the meeting should recur on Sundays and Tuesdays provide `\"1,3\"` as the value of this field.\n\n <br>`1`  - Sunday. <br>`2` - Monday.<br>`3` - Tuesday.<br>`4` -  Wednesday.<br>`5` -  Thursday.<br>`6` - Friday.<br>`7` - Saturday.",
                                                    "enum": [
                                                        "1",
                                                        "2",
                                                        "3",
                                                        "4",
                                                        "5",
                                                        "6",
                                                        "7"
                                                    ],
                                                    "example": "1"
                                                }
                                            },
                                            "required": [
                                                "type"
                                            ],
                                            "type": "object"
                                        },
                                        "settings": {
                                            "description": "Meeting settings.",
                                            "properties": {
                                                "allow_multiple_devices": {
                                                    "description": "Allow attendees to join the meeting from multiple devices. This setting only works for meetings that require [registration](https://support.zoom.us/hc/en-us/articles/211579443-Setting-up-registration-for-a-meeting).",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "alternative_hosts": {
                                                    "description": "A semicolon-separated list of the meeting's alternative hosts' email addresses or IDs.",
                                                    "type": "string",
                                                    "example": "jchill@example.com;thill@example.com"
                                                },
                                                "alternative_hosts_email_notification": {
                                                    "default": true,
                                                    "description": "Flag to determine whether to send email notifications to alternative hosts, default value is true.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "alternative_host_update_polls": {
                                                    "type": "boolean",
                                                    "description": "Whether the **Allow alternative hosts to add or edit polls** feature is enabled. This requires Zoom version 5.8.0 or higher.",
                                                    "example": true
                                                },
                                                "approval_type": {
                                                    "default": 2,
                                                    "description": "Enable registration and set approval for the registration. Note that this feature requires the host to be of **Licensed** user type. **Registration cannot be enabled for a basic user.** <br><br>\n\n`0` - Automatically approve.<br>`1` - Manually approve.<br>`2` - No registration required.",
                                                    "enum": [
                                                        0,
                                                        1,
                                                        2
                                                    ],
                                                    "type": "integer",
                                                    "x-enum-descriptions": [
                                                        "Automatically Approve",
                                                        "Manually Approve",
                                                        "No Registration Required"
                                                    ],
                                                    "example": 0
                                                },
                                                "approved_or_denied_countries_or_regions": {
                                                    "description": "Approve or block users from specific regions/countries from joining this meeting. \n",
                                                    "properties": {
                                                        "approved_list": {
                                                            "description": "List of countries/regions from where participants can join this meeting. ",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "CX"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "denied_list": {
                                                            "description": "List of countries/regions from where participants can not join this meeting. ",
                                                            "items": {
                                                                "type": "string",
                                                                "example": "CA"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "enable": {
                                                            "description": "`true`: Setting enabled to either allow users or block users from specific regions to join your meetings. <br>\n\n`false`: Setting disabled.",
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "method": {
                                                            "description": "Specify whether to allow users from specific regions to join this meeting; or block users from specific regions from joining this meeting. <br><br>\n`approve`: Allow users from specific regions/countries to join this meeting. If this setting is selected, the approved regions/countries must be included in the `approved_list`.<br><br>\n`deny`: Block users from specific regions/countries from joining this meeting. If this setting is selected, the approved regions/countries must be included in the `denied_list`",
                                                            "enum": [
                                                                "approve",
                                                                "deny"
                                                            ],
                                                            "type": "string",
                                                            "example": "approve"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "audio": {
                                                    "default": "both",
                                                    "description": "Determine how participants can join the audio portion of the meeting.<br>`both` - Both Telephony and VoIP.<br>`telephony` - Telephony only.<br>`voip` - VoIP only.",
                                                    "enum": [
                                                        "both",
                                                        "telephony",
                                                        "voip"
                                                    ],
                                                    "type": "string",
                                                    "x-enum-descriptions": [
                                                        "Both Telephony and VoIP",
                                                        "Telephony only",
                                                        "VoIP only"
                                                    ],
                                                    "example": "telephony"
                                                },
                                                "authentication_domains": {
                                                    "description": "If user has configured [\"Sign Into Zoom with Specified Domains\"](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f) option, this will list the domains that are authenticated.",
                                                    "type": "string",
                                                    "example": "example.com"
                                                },
                                                "authentication_exception": {
                                                    "description": "The participants added here will receive unique meeting invite links and bypass authentication.",
                                                    "items": {
                                                        "properties": {
                                                            "email": {
                                                                "description": "Email address of the participant.",
                                                                "format": "email",
                                                                "type": "string",
                                                                "example": "jchill@example.com"
                                                            },
                                                            "name": {
                                                                "description": "Name of the participant.",
                                                                "type": "string",
                                                                "example": "Jill Chill"
                                                            },
                                                            "join_url": {
                                                                "description": "URL for participants to join the meeting",
                                                                "type": "string",
                                                                "example": "https://example.com/s/11111"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "authentication_name": {
                                                    "description": "Authentication name set in the [authentication profile](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars#h_5c0df2e1-cfd2-469f-bb4a-c77d7c0cca6f).",
                                                    "type": "string",
                                                    "example": "Sign in to Zoom"
                                                },
                                                "authentication_option": {
                                                    "description": "Meeting authentication option id.",
                                                    "type": "string",
                                                    "example": "signIn_D8cJuqWVQ623CI4Q8yQK0Q"
                                                },
                                                "auto_recording": {
                                                    "default": "none",
                                                    "description": "Automatic recording:<br>`local` - Record on local.<br>`cloud` -  Record on cloud.<br>`none` - Disabled.",
                                                    "enum": [
                                                        "local",
                                                        "cloud",
                                                        "none"
                                                    ],
                                                    "type": "string",
                                                    "x-enum-descriptions": [
                                                        "Record to local device",
                                                        "Record to cloud",
                                                        "No Recording"
                                                    ],
                                                    "example": "cloud"
                                                },
                                                "breakout_room": {
                                                    "description": "Setting to [pre-assign breakout rooms](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4).",
                                                    "properties": {
                                                        "enable": {
                                                            "description": "Set the value of this field to `true` if you would like to enable the [breakout room pre-assign](https://support.zoom.us/hc/en-us/articles/360032752671-Pre-assigning-participants-to-breakout-rooms#h_36f71353-4190-48a2-b999-ca129861c1f4) option.",
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "rooms": {
                                                            "description": "Create room(s).",
                                                            "items": {
                                                                "properties": {
                                                                    "name": {
                                                                        "description": "Name of the breakout room.",
                                                                        "type": "string",
                                                                        "example": "room1"
                                                                    },
                                                                    "participants": {
                                                                        "description": "Email addresses of the participants who are to be assigned to the breakout room.",
                                                                        "items": {
                                                                            "type": "string",
                                                                            "example": "jchill@example.com"
                                                                        },
                                                                        "type": "array"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "calendar_type": {
                                                    "description": "Indicates the type of calendar integration used to schedule the meeting: \n* `1` — [Zoom Outlook add-in](https://support.zoom.us/hc/en-us/articles/360031592971-Getting-started-with-Outlook-plugin-and-add-in) \n* `2` — [Zoom for Google Workspace add-on](https://support.zoom.us/hc/en-us/articles/360020187492-Using-the-Zoom-for-Google-Workspace-add-on)\n\nWorks with the `private_meeting` field to determine whether to share details of meetings or not.",
                                                    "enum": [
                                                        1,
                                                        2
                                                    ],
                                                    "type": "integer",
                                                    "x-enum-descriptions": [
                                                        "Outlook",
                                                        "Google Calendar"
                                                    ],
                                                    "example": 1
                                                },
                                                "close_registration": {
                                                    "default": false,
                                                    "description": "Close registration after event date",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "cn_meeting": {
                                                    "type": "boolean",
                                                    "default": false,
                                                    "deprecated": true,
                                                    "description": "Host meeting in China.",
                                                    "example": false
                                                },
                                                "contact_email": {
                                                    "description": "Contact email for registration",
                                                    "type": "string",
                                                    "example": "jchill@example.com"
                                                },
                                                "contact_name": {
                                                    "description": "Contact name for registration",
                                                    "type": "string",
                                                    "example": "Jill Chill"
                                                },
                                                "custom_keys": {
                                                    "description": "Custom keys and values assigned to the meeting.",
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "description": "Custom key associated with the user.",
                                                                "maxLength": 64,
                                                                "type": "string",
                                                                "example": "key1"
                                                            },
                                                            "value": {
                                                                "description": "Value of the custom key associated with the user.",
                                                                "maxLength": 256,
                                                                "type": "string",
                                                                "example": "value1"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "maxItems": 10,
                                                    "type": "array"
                                                },
                                                "email_notification": {
                                                    "default": true,
                                                    "description": "Whether to send email notifications to [alternative hosts](https://support.zoom.us/hc/en-us/articles/208220166) and [users with scheduling privileges](https://support.zoom.us/hc/en-us/articles/201362803-Scheduling-privilege). This value defaults to `true`.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "encryption_type": {
                                                    "description": "Choose between enhanced encryption and [end-to-end encryption](https://support.zoom.us/hc/en-us/articles/360048660871) when starting or a meeting. When using end-to-end encryption, several features (e.g. cloud recording, phone/SIP/H.323 dial-in) will be **automatically disabled**. <br><br>The value of this field can be one of the following:<br>\n`enhanced_encryption`: Enhanced encryption. Encryption is stored in the cloud if you enable this option. <br>\n\n`e2ee`: [End-to-end encryption](https://support.zoom.us/hc/en-us/articles/360048660871). The encryption key is stored in your local device and can not be obtained by anyone else. Enabling this setting also **disables** the following features: join before host, cloud recording, streaming, live transcription, breakout rooms, polling, 1:1 private chat, and meeting reactions.",
                                                    "enum": [
                                                        "enhanced_encryption",
                                                        "e2ee"
                                                    ],
                                                    "type": "string",
                                                    "example": "enhanced_encryption"
                                                },
                                                "enforce_login": {
                                                    "deprecated": true,
                                                    "description": "Only signed in users can join this meeting.\n\n**This field is deprecated and will not be supported in the future.**  <br><br>As an alternative, use the \"meeting_authentication\", \"authentication_option\" and \"authentication_domains\" fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "enforce_login_domains": {
                                                    "deprecated": true,
                                                    "description": "Only signed in users with specified domains can join meetings.\n\n**This field is deprecated and will not be supported in the future.**  <br><br>As an alternative, use the \"meeting_authentication\", \"authentication_option\" and \"authentication_domains\" fields to understand the [authentication configurations](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) set for the meeting.",
                                                    "type": "string",
                                                    "example": "example.com"
                                                },
                                                "focus_mode": {
                                                    "description": "Whether the [**Focus Mode** feature](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode) is enabled when the meeting starts.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "global_dial_in_countries": {
                                                    "description": "List of global dial-in countries",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "US"
                                                    },
                                                    "type": "array"
                                                },
                                                "global_dial_in_numbers": {
                                                    "description": "Global Dial-in Countries/Regions",
                                                    "items": {
                                                        "properties": {
                                                            "city": {
                                                                "description": "City of the number, if any. For example, Chicago.",
                                                                "type": "string",
                                                                "example": "New York"
                                                            },
                                                            "country": {
                                                                "description": "Country code. For example, BR.",
                                                                "type": "string",
                                                                "example": "US"
                                                            },
                                                            "country_name": {
                                                                "description": "Full name of country. For example, Brazil.",
                                                                "type": "string",
                                                                "example": "US"
                                                            },
                                                            "number": {
                                                                "description": "Phone number. For example, +1 2332357613.",
                                                                "type": "string",
                                                                "example": "+1 1000200200"
                                                            },
                                                            "type": {
                                                                "description": "Type of number. ",
                                                                "enum": [
                                                                    "toll",
                                                                    "tollfree"
                                                                ],
                                                                "type": "string",
                                                                "example": "toll"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "host_video": {
                                                    "description": "Start video when the host joins the meeting.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "in_meeting": {
                                                    "type": "boolean",
                                                    "default": false,
                                                    "deprecated": true,
                                                    "description": "Host meeting in India.",
                                                    "example": false
                                                },
                                                "jbh_time": {
                                                    "description": "If the value of \"join_before_host\" field is set to true, this field can be used to indicate time limits within which a participant may join a meeting before a host. The value of this field can be one of the following:\n\n*  `0`: Allow participant to join anytime.\n*  `5`: Allow participant to join 5 minutes before meeting start time.\n * `10`: Allow participant to join 10 minutes before meeting start time.",
                                                    "enum": [
                                                        0,
                                                        5,
                                                        10
                                                    ],
                                                    "type": "integer",
                                                    "example": 0
                                                },
                                                "join_before_host": {
                                                    "default": false,
                                                    "description": "Allow participants to join the meeting before the host starts the meeting. Only used for scheduled or recurring meetings.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "language_interpretation": {
                                                    "description": "The meeting's [language interpretation settings](https://support.zoom.us/hc/en-us/articles/360034919791-Language-interpretation-in-meetings-and-webinars). Make sure to add the language in the web portal in order to use it in the API. See link for details. \n\n**Note:** This feature is only available for certain Meeting add-on, Education, and Business and higher plans. If this feature is not enabled on the host's account, this setting will **not** be applied to the meeting.",
                                                    "properties": {
                                                        "enable": {
                                                            "description": "Whether to enable [language interpretation](https://support.zoom.us/hc/en-us/articles/360034919791-Language-interpretation-in-meetings-and-webinars) for the meeting.",
                                                            "type": "boolean",
                                                            "example": true
                                                        },
                                                        "interpreters": {
                                                            "description": "Information about the meeting's language interpreters.",
                                                            "items": {
                                                                "properties": {
                                                                    "email": {
                                                                        "description": "The interpreter's email address.",
                                                                        "format": "email",
                                                                        "type": "string",
                                                                        "example": "interpreter@example.com"
                                                                    },
                                                                    "languages": {
                                                                        "description": "A comma-separated list of the interpreter's languages. The string must contain two [country IDs](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries). \n\nFor example, if the interpreter will translate from English to Chinese, then this value will be `US,CN`.",
                                                                        "type": "string",
                                                                        "example": "US,FR"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "meeting_authentication": {
                                                    "description": "`true`- Only authenticated users can join meetings.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "mute_upon_entry": {
                                                    "default": false,
                                                    "description": "Mute participants upon entry.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "participant_video": {
                                                    "description": "Start video when participants join the meeting.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "private_meeting": {
                                                    "description": "Whether the meeting is set as private.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "registrants_confirmation_email": {
                                                    "description": "Whether to send registrants an email confirmation:\n* `true` — Send a confirmation email.\n* `false` — Do not send a confirmation email.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "registrants_email_notification": {
                                                    "description": "Whether to send registrants email notifications about their registration approval, cancellation, or rejection:\n\n* `true` — Send an email notification.\n* `false` — Do not send an email notification.\n\n Set this value to `true` to also use the `registrants_confirmation_email` parameter.",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "registration_type": {
                                                    "default": 1,
                                                    "description": "Registration type. Used for recurring meeting with fixed time only. <br>`1` Attendees register once and can attend any of the occurrences.<br>`2` Attendees need to register for each occurrence to attend.<br>`3` Attendees register once and can choose one or more occurrences to attend.",
                                                    "enum": [
                                                        1,
                                                        2,
                                                        3
                                                    ],
                                                    "type": "integer",
                                                    "x-enum-descriptions": [
                                                        "Attendees register once and can attend any of the occurrences",
                                                        "Attendees need to register for each occurrence to attend",
                                                        "Attendees register once and can choose one or more occurrences to attend"
                                                    ],
                                                    "example": 1
                                                },
                                                "show_share_button": {
                                                    "description": "Show social share buttons on the meeting registration page.\nThis setting only works for meetings that require [registration](https://support.zoom.us/hc/en-us/articles/211579443-Setting-up-registration-for-a-meeting).",
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "use_pmi": {
                                                    "default": false,
                                                    "description": "Use a [Personal Meeting ID (PMI)](https://marketplace.zoom.us/docs/api-reference/using-zoom-apis#understanding-personal-meeting-id-pmi). Only used for scheduled meetings and recurring meetings with no fixed time.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "waiting_room": {
                                                    "default": false,
                                                    "description": "Enable waiting room",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "watermark": {
                                                    "default": false,
                                                    "description": "Add watermark when viewing a shared screen.",
                                                    "type": "boolean",
                                                    "example": false
                                                },
                                                "host_save_video_order": {
                                                    "type": "boolean",
                                                    "description": "Whether the **Allow host to save video order** feature is enabled.",
                                                    "example": true
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "start_time": {
                                            "description": "Meeting start date-time in UTC/GMT. Example: \"2020-03-31T12:02:00Z\"",
                                            "format": "date-time",
                                            "type": "string",
                                            "example": "2022-03-25T07:29:29Z"
                                        },
                                        "start_url": {
                                            "description": "URL to start the meeting. This URL should only be used by the host of the meeting and **should not be shared with anyone other than the host** of the meeting as anyone with this URL will be able to login to the Zoom Client as the host of the meeting.",
                                            "type": "string",
                                            "example": "https://example.com/s/11111"
                                        },
                                        "timezone": {
                                            "description": "Timezone to format start_time",
                                            "type": "string",
                                            "example": "America/Los_Angeles"
                                        },
                                        "topic": {
                                            "description": "Meeting topic",
                                            "maxLength": 200,
                                            "type": "string",
                                            "example": "My Meeting"
                                        },
                                        "tracking_fields": {
                                            "description": "Tracking fields",
                                            "items": {
                                                "properties": {
                                                    "field": {
                                                        "description": "Label of the tracking field.",
                                                        "type": "string",
                                                        "example": "field1"
                                                    },
                                                    "value": {
                                                        "description": "Value for the field.",
                                                        "type": "string",
                                                        "example": "value1"
                                                    },
                                                    "visible": {
                                                        "description": "Indicates whether the [tracking field](https://support.zoom.us/hc/en-us/articles/115000293426-Scheduling-Tracking-Fields) is visible in the meeting scheduling options in the Zoom Web Portal or not.\n\n`true`: Tracking field is visible. <br>\n\n`false`: Tracking field is not visible to the users in the meeting options in the Zoom Web Portal but the field was used while scheduling this meeting via API. An invisible tracking field can be used by users while scheduling meetings via API only. ",
                                                        "type": "boolean",
                                                        "example": true
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "type": {
                                            "default": 2,
                                            "description": "Meeting Type",
                                            "enum": [
                                                1,
                                                2,
                                                3,
                                                8
                                            ],
                                            "type": "integer",
                                            "x-enum-descriptions": [
                                                "Instant Meeting",
                                                "Scheduled Meeting",
                                                "Recurring Meeting with no fixed time",
                                                "Recurring Meeting with fixed time"
                                            ],
                                            "example": 2
                                        }
                                    },
                                    "type": "object",
                                    "description": "Meeting object"
                                }
                            }
                        },
                        "description": "**HTTP Status Code:** `201`<br>\nMeeting created."
                    },
                    "400": {
                        "description": "**HTTP Status Code:** `400` **Bad Request**<br>\n**Error Code:** `3000`<br> \n* Instant meetings do not support the schedule_for parameter; you cannot schedule an instant meeting for another user.<br>\n* Users in '{0}' have been blocked from joining meetings and webinars. To unblock them, go to the Settings page in the Zoom web portal and update 'Block users in specific domains from joining meetings and webinars'.<br> \n* You cannot schedule a meeting for {0}. \n\n **Error Code:** `3161` <br>\nMeeting hosting and scheduling capabilities are not allowed for your user account. \n\n **Error Code:** `300` <br> \n* The value that you entered for the schedule_for field is invalid. Enter a valid value and try again. <br> \n* Invalid enforce_login_domains, separate multiple domains by semicolon."
                    },
                    "404": {
                        "description": "**HTTP Status Code:** `404` **Not Found**<br>\nUser not found.<br>\n\n**Error Code:** `1001`<br> User {userId} not exist or not belong to this account.\n"
                    },
                    "429": {
                        "description": "**HTTP Status Code:** `429` <br>\n You have exceeded the daily rate limit ({rateLimitNumber}) of Meeting Create/Update API requests permitted for this particular user. You may resume these requests at GMT 00:00:00."
                    }
                },
                "tags": [
                    "Meetings"
                ],
                "operationId": "meetingCreate",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The base meeting object.",
                                "type": "object",
                                "properties": {
                                    "agenda": {
                                        "description": "The meeting's agenda. This value has a maximum length of 2,000 characters.",
                                        "maxLength": 2000,
                                        "type": "string",
                                        "example": "My Meeting",
                                        "path": "agenda"
                                    },
                                    "default_password": {
                                        "default": false,
                                        "description": "Whether to generate a default password using the user's settings. This value defaults to `false`. \n\nIf this value is `true` and the user has the PMI setting enabled with a password, then the user's meetings will use the PMI password. It will **not** use a default password.",
                                        "type": "boolean",
                                        "example": false,
                                        "path": "default_password"
                                    },
                                    "duration": {
                                        "description": "The meeting's scheduled duration, in minutes. This field is only used for scheduled meetings (`2`).",
                                        "type": "integer",
                                        "example": 60,
                                        "path": "duration"
                                    },
                                    "password": {
                                        "description": "The password required to join the meeting. By default, a password can **only** have a maximum length of 10 characters and only contain alphanumeric characters and the `@`, `-`, `_`, and `*` characters. \n* If the account owner or administrator has configured [minimum passcode requirement settings](https://support.zoom.us/hc/en-us/articles/360033559832-Meeting-and-webinar-passwords#h_a427384b-e383-4f80-864d-794bf0a37604), the password **must** meet those requirements. \n* If password requirements are enabled, use the [**Get user settings**](/docs/api-reference/zoom-api/methods#operation/userSettings) API or the [**Get account settings**](/docs/api-reference/zoom-api/ma#operation/accountSettings) API to get the requirements.",
                                        "maxLength": 10,
                                        "type": "string",
                                        "example": "123456",
                                        "path": "password"
                                    },
                                    "pre_schedule": {
                                        "default": false,
                                        "description": "Whether to create a prescheduled meeting via the [GSuite app](https://support.zoom.us/hc/en-us/articles/360020187492-Zoom-for-GSuite-add-on). This **only** supports the meeting `type` value of `2` (scheduled meetings) and `3` (recurring meetings with no fixed time): \n* `true` — Create a prescheduled meeting. \n* `false` — Create a regular meeting.",
                                        "type": "boolean",
                                        "example": false,
                                        "path": "pre_schedule"
                                    },
                                    "schedule_for": {
                                        "description": "The email address or user ID of the user to schedule a meeting for.",
                                        "type": "string",
                                        "example": "jchill@example.com",
                                        "path": "schedule_for"
                                    },
                                    "start_time": {
                                        "description": "The meeting's start time. This field is only used for scheduled and/or recurring meetings with a fixed time. This supports local time and GMT formats. \n* To set a meeting's start time in GMT, use the `yyyy-MM-ddTHH:mm:ssZ` date-time format. For example, `2020-03-31T12:02:00Z`. \n* To set a meeting's start time using a specific timezone, use the `yyyy-MM-ddTHH:mm:ss` date-time format and specify the [timezone ID](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#timezones) in the `timezone` field. If you do not specify a timezone, the `timezone` value defaults to your Zoom account's timezone. You can also use `UTC` for the `timezone` value.",
                                        "format": "date-time",
                                        "type": "string",
                                        "example": "2022-03-25T07:32:55Z",
                                        "path": "start_time"
                                    },
                                    "template_id": {
                                        "description": "The **account admin meeting template** ID with which to schedule a meeting using a [meeting template](https://support.zoom.us/hc/en-us/articles/360036559151-Meeting-templates). For a list of account admin-provided meeting templates, use the [**List meeting templates**](/docs/api-reference/zoom-api/methods#operation/listMeetingTemplates) API. \n* At this time, this field **only** accepts account admin meeting template IDs. \n* To enable the account admin meeting templates feature, [contact Zoom support](https://support.zoom.us/hc/en-us).",
                                        "type": "string",
                                        "example": "Dv4YdINdTk+Z5RToadh5ug==",
                                        "path": "template_id"
                                    },
                                    "topic": {
                                        "description": "The meeting's topic.",
                                        "type": "string",
                                        "maxLength": 200,
                                        "example": "My Meeting",
                                        "x-connector-field-index": -1000,
                                        "path": "topic"
                                    },
                                    "tracking_fields": {
                                        "description": "Information about the meeting's tracking fields.",
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "field"
                                            ],
                                            "type": "object",
                                            "properties": {
                                                "field": {
                                                    "description": "The tracking field's label.",
                                                    "type": "string",
                                                    "example": "field1"
                                                },
                                                "value": {
                                                    "description": "The tracking field's value.",
                                                    "type": "string",
                                                    "example": "value1"
                                                }
                                            }
                                        },
                                        "path": "tracking_fields"
                                    },
                                    "type": {
                                        "default": 2,
                                        "description": "The type of meeting:\n* `1` — An instant meeting. \n* `2` — A scheduled meeting. \n* `3` — A recurring meeting with no fixed time. \n* `8` — A recurring meeting with fixed time.",
                                        "enum": [
                                            1,
                                            2,
                                            3,
                                            8
                                        ],
                                        "type": "integer",
                                        "x-enum-descriptions": [
                                            "Instant meeting.",
                                            "Scheduled meeting.",
                                            "Recurring meeting with no fixed time.",
                                            "Recurring meeting with fixed time."
                                        ],
                                        "example": 2,
                                        "path": "type"
                                    },
                                    "recurrence|end_date_time": {
                                        "description": "Select the final date on which the meeting will recur before it is canceled. Should be in UTC time, such as 2017-11-25T12:00:00Z. (Cannot be used with \"end_times\".)",
                                        "format": "date-time",
                                        "type": "string",
                                        "example": "2022-04-02T15:59:00Z",
                                        "path": "recurrence.end_date_time"
                                    },
                                    "recurrence|end_times": {
                                        "description": "Select how many times the meeting should recur before it is canceled. (Cannot be used with \"end_date_time\".)",
                                        "maximum": 365,
                                        "type": "integer",
                                        "example": 7,
                                        "path": "recurrence.end_times"
                                    },
                                    "recurrence|monthly_day": {
                                        "description": "Use this field **only if you're scheduling a recurring meeting of type** `3` to state which day in a month, the meeting should recur. The value range is from 1 to 31.\n\nFor instance, if you would like the meeting to recur on 23rd of each month, provide `23` as the value of this field and `1` as the value of the `repeat_interval` field. Instead, if you would like the meeting to recur every three months, on 23rd of the month, change the value of the `repeat_interval` field to `3`.",
                                        "type": "integer",
                                        "example": 1,
                                        "path": "recurrence.monthly_day"
                                    },
                                    "recurrence|monthly_week": {
                                        "description": "Use this field **only if you're scheduling a recurring meeting of type** `3` to state the week of the month when the meeting should recur. If you use this field, **you must also use the `monthly_week_day` field to state the day of the week when the meeting should recur.** <br>`-1` - Last week of the month.<br>`1` - First week of the month.<br>`2` - Second week of the month.<br>`3` - Third week of the month.<br>`4` - Fourth week of the month.",
                                        "enum": [
                                            -1,
                                            1,
                                            2,
                                            3,
                                            4
                                        ],
                                        "type": "integer",
                                        "x-enum-descriptions": [
                                            "Last week",
                                            "First week",
                                            "Second week",
                                            "Third week",
                                            "Fourth week"
                                        ],
                                        "example": 1,
                                        "path": "recurrence.monthly_week"
                                    },
                                    "recurrence|monthly_week_day": {
                                        "description": "Use this field **only if you're scheduling a recurring meeting of type** `3` to state a specific day in a week when the monthly meeting should recur. To use this field, you must also use the `monthly_week` field. \n\n<br>`1` - Sunday.<br>`2` - Monday.<br>`3` - Tuesday.<br>`4` -  Wednesday.<br>`5` - Thursday.<br>`6` - Friday.<br>`7` - Saturday.",
                                        "enum": [
                                            1,
                                            2,
                                            3,
                                            4,
                                            5,
                                            6,
                                            7
                                        ],
                                        "type": "integer",
                                        "x-enum-descriptions": [
                                            "Sunday",
                                            "Monday",
                                            "Tuesday",
                                            "Wednesday",
                                            "Thursday",
                                            "Friday",
                                            "Saturday"
                                        ],
                                        "example": 1,
                                        "path": "recurrence.monthly_week_day"
                                    },
                                    "recurrence|repeat_interval": {
                                        "description": "Define the interval at which the meeting should recur. For instance, if you would like to schedule a meeting that recurs every two months, you must set the value of this field as `2` and the value of the `type` parameter as `3`. \n\nFor a daily meeting, the maximum interval you can set is `90` days. For a weekly meeting the maximum interval that you can set is  of `12` weeks. For a monthly meeting, there is a maximum of `3` months.\n\n",
                                        "type": "integer",
                                        "example": 1,
                                        "path": "recurrence.repeat_interval"
                                    },
                                    "recurrence|type": {
                                        "description": "Recurrence meeting types:<br>`1` - Daily.<br>`2` - Weekly.<br>`3` - Monthly.",
                                        "enum": [
                                            1,
                                            2,
                                            3
                                        ],
                                        "type": "integer",
                                        "x-enum-descriptions": [
                                            "Daily",
                                            "Weekly",
[...]
