{"openapi":"3.0.0","info":{"contact":{"name":"Zoom Developers","url":"https://developer.zoom.us/"},"description":"The Zoom Meeting API lets developers access information from Zoom. You can use this API to build private services or public applications on the [Zoom App Marketplace](http://marketplace.zoom.us). To learn how to get your credentials and create private/public applications, see our [OAuth](https://marketplace.zoom.us/docs/guides/auth/oauth) documentation. \n\nAll endpoints are available via `https` and are located at `api.zoom.us/v2/`. For example, to list all of an account's users, use the `https://api.zoom.us/v2/users/` endpoint.","termsOfService":"https://zoom.us/docs/en-us/zoom_api_license_and_tou.html","title":"Zoom Meeting API","version":"2.0.0"},"servers":[{"url":"https://api.zoom.us/v2"}],"paths":{"/accounts/{accountId}/managed_domains":{"get":{"parameters":[{"description":"The account's ID. For the Master account, pass the `me` value for this parameter.","in":"path","name":"accountId","required":true,"schema":{"type":"string","example":"q6gBJVO5TzexKYTb_I2rpg"}}],"responses":{"200":{"content":{"application/json":{"schema":{"description":"Information about the account's managed domains.","properties":{"domains":{"description":"Information about the managed domains.","items":{"properties":{"domain":{"description":"The domain's name.","type":"string","example":"example.com"},"status":{"description":"The domain's status.","type":"string","example":"verified"}},"type":"object"},"type":"array"},"total_records":{"description":"The total number of records returned.","type":"integer","example":1}},"type":"object"}}},"description":"**HTTP Status Code:** `200` <br>\nAccount's managed domains returned. \n\n**Error Code:** `200` <br>\nOnly available for paid accounts."},"404":{"description":"**HTTP Status Code:** `404` <br>\nNot Found \n\n**Error Code:** `2001` <br>\nAccount does not exist: $accountId"}},"security":[{"OAuth":[]}],"tags":["Accounts"],"description":"Use this API to get an account's [managed domains](https://support.zoom.us/hc/en-us/articles/203395207). To get the master account's managed domains, pass the `me` value for the `accountId` path parameter. \n\n **Scopes:** `account:read:admin` <br> **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Light` \n\n **Prerequisites:** \n* A Pro or a higher paid account with the Master account option enabled.","operationId":"accountManagedDomain","summary":"Get account's managed domains"}},"/accounts/{accountId}/settings":{"get":{"parameters":[{"description":"The account's ID. For the Master account, pass the `me` value for this parameter.","in":"path","name":"accountId","required":true,"schema":{"type":"string","example":"me"}},{"allowEmptyValue":true,"description":"Optional query parameters: \n* `meeting_authentication` — Use this query parameter to view the [meeting authentication settings](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) applied to the user's account. \n* `recording_authentication` — Use this query parameter to view the [recording authentication settings](https://support.zoom.us/hc/en-us/articles/360037756671-Authentication-Profiles-for-Cloud-Recordings) applied to the user's account. \n* `security` — Use this query parameter to view the account's security settings. For example, password requirements for user login or two-factor authentication. \n* `meeting_security` — Use this query parameter to view the meeting security settings applied to the user's account.","in":"query","name":"option","schema":{"enum":["meeting_authentication","recording_authentication","meeting_security","security"],"type":"string","example":"security"}},{"description":"The name of the field by which to filter the response. For example, if you provide the `host_video` value for this field, you will get a response similar to the following: \n\n `{ \"schedule_meeting\": { \"host_video\": false } }` \n\n To use multiple values, comma-separate each value. For example: `host_video,participant_video`","in":"query","name":"custom_query_fields","schema":{"type":"string","example":"in_meeting"}}],"responses":{"200":{"content":{"application/json":{"schema":{"oneOf":[{"properties":{"security":{"description":"[Security settings](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) of an Account.","properties":{"admin_change_name_pic":{"type":"boolean","deprecated":true,"description":"Whether to only allow account administrators to change a user's picture.","example":true},"admin_change_user_info":{"type":"boolean","description":"Whether to only allow account administrators to change a user's information.","example":true},"user_modifiable_info_by_admin":{"type":"array","description":"If the `admin_change_user_info` value is `true`, the list of the types of user information that only the account administrators can modify: \n* `name` \n* `profile_picture` \n* `sign_in_email` \n* `host_key`","items":{"type":"string","enum":["name","profile_picture","sign_in_email","host_key"],"example":["name","host_key","sign_in_email"]}},"hide_billing_info":{"description":"Hide billing information.","type":"boolean","example":true},"import_photos_from_devices":{"description":"Allow users to import photos from a photo library on a  device.","type":"boolean","example":true},"password_requirement":{"description":"This object refers to the [enhanced password rules](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) that allows Zoom account admins and owners to apply extra requirements to the users' Zoom login password.","properties":{"consecutive_characters_length":{"description":"\nSpecify the max length of consecutive characters(abcde...) that can be used in a password.\nIf you set the value of this field to `0`, no restriction will be applied on consecutive characters. \n\nIf you would like to set this restriction, you can specify a number between 4 and 8 that define the maximum allowed length for consecutive characters in a password.\n\nThe max allowed length will be `n-1` where `n` refers to the value you provide for this field.  For instance, if you provide `4` as the value, there can only be a maximum of `3` consecutive characters in a password(example: abc1x@8fdh).","type":"integer","example":8},"have_special_character":{"description":"If the value of this field is set to `true`, the password must have at least one special character(!, @, #...).","type":"boolean","example":true},"minimum_password_length":{"description":"Specify a minimum length for the password. The password length can be from a minimum of 9 characters, up to 14 characters. If you provide `0` as the value of this field, this field will be disabled and not be used and the basic password length requirement (minimum of 8 characters) will be applied for the requirement.","maximum":14,"minimum":8,"type":"integer","example":8},"weak_enhance_detection":{"description":"If the value of this field is set to `true`, user passwords will have to pass detection through a weak password dictionary in case hackers use simple passwords to sign in to your users' accounts.","type":"boolean","example":true}},"type":"object"},"sign_again_period_for_inactivity_on_client":{"description":"Settings for User Sign In interval requirements after a period of inactivity. If enabled, this setting forces automatic logout of users in Zoom Client app after a set amount of time. <br>\n\nIf this setting is disabled, the value of this field will be `0`. If the setting is enabled, the value of this field will indicate the **period of inactivity** in minutes after which, an inactive user will be automatically logged out of the Zoom Client. The value for the period of inactivity can be one of the following:<br>\n\n`5`: 5 minutes<br>\n`10`: 10 minutes<br>\n`15`: 15 minutes<br>\n`30`: 30 minutes<br>\n`45`: 45 minutes<br>\n`60`: 60 minutes<br>\n`90`: 90 minutes<br>\n`120`: 120 minutes\n","type":"integer","example":45},"sign_again_period_for_inactivity_on_web":{"description":"Settings for User Sign In interval requirements after a period of inactivity. If enabled, this setting forces automatic logout of users in Zoom Web Portal after a set amount of time. <br>\n\nIf this setting is disabled, the value of this field will be `0`. If the setting is enabled, the value of this field will indicate the **period of inactivity** in minutes after which, an inactive user will be automatically logged out of the Zoom Web Portal. The value for the period of inactivity can be one of the following:<br>\n\n`5`: 5 minutes<br>\n`10`: 10 minutes<br>\n`15`: 15 minutes<br>\n`30`: 30 minutes<br>\n`60`: 60 minutes<br>\n`120`: 120 minutes\n\n    \n\n","type":"integer","example":60},"sign_in_with_two_factor_auth":{"description":"Settings for 2FA( [two factor authentication](https://support.zoom.us/hc/en-us/articles/360038247071) ). The value can be one of the following:\n`all`: Two factor authentication will be enabled for all users in the account.<br>\n`none`: Two factor authentication is disabled.<br>\n`group`: Two factor authentication will be enabled for users belonging to specific groups. If 2FA is enabled for certain groups, the group IDs of the group(s) will be provided in the `sign_in_with_two_factor_auth_groups` field.<br>\n`role`: Two factor authentication will be enabled only for users assigned with specific roles in the account. If 2FA is enabled for specific roles, the role IDs will be provided in the\n`sign_in_with_two_factor_auth_roles` field.\n","enum":["all","group","role","none"],"type":"string","example":"group"},"sign_in_with_two_factor_auth_groups":{"description":"This field contains group IDs of groups that have 2FA enabled. This field is only returned if the value of `sign_in_with_two_factor_auth` is `group`","items":{"type":"string","example":"group"},"type":"array"},"sign_in_with_two_factor_auth_roles":{"description":"This field contains role IDs of roles that have 2FA enabled. This field is only returned if the value of `sign_in_with_two_factor_auth` is `role`.","items":{"type":"string","example":"role"},"type":"array"}},"type":"object"},"audio_conferencing":{"description":"The account's audio conference settings.","properties":{"toll_free_and_fee_based_toll_call":{"description":"The account's [**Toll-free and Fee-based Toll Call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) settings.","properties":{"allow_webinar_attendees_dial":{"description":"Whether webinar attendees can dial in through the account's **Toll-free and Fee-based Toll Call** phone numbers. This feature is only available in version 5.2.2 and higher.","type":"boolean","example":true},"enable":{"description":"Whether the account has the [**Toll-free and Fee-based Toll Call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.","type":"boolean","example":true},"numbers":{"description":"The account's **Toll-free and Fee-based Toll Call** phone number information.","items":{"properties":{"code":{"description":"The phone number's [E.164 country calling code](https://en.wikipedia.org/wiki/List_of_country_calling_codes).","type":"string","example":"86"},"country_code":{"description":"The phone number's [country code](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries).","type":"string","example":"CN"},"country_name":{"description":"The country name.","type":"string","example":"China"},"display_number":{"description":"The phone number's display number.","maxLength":30,"type":"string","example":"+86 777 777 77"},"number":{"description":"The phone number.","maxLength":30,"type":"string","example":"777 777 77"}},"type":"object"},"maxItems":100,"type":"array"}},"type":"object"}},"type":"object"},"chat":{"description":"The account's chat settings.","properties":{"allow_bots_chat":{"description":"Whether chatbots added to chats and channels can read and write messages.","type":"boolean","example":true},"chat_emojis":{"type":"object","description":"Chat emojis.","properties":{"enable":{"type":"boolean","description":"Allow users to use the emoji library in direct messages or group conversations. Choose between allowing users to use any emoji in the library, or choose to allow only pre-selected emojis. If the setting is disabled, users can still use keyboard shortcuts to add emojis. Users can change their emoji skin tone in Settings.","example":true},"emojis_option":{"type":"string","example":"all","enum":["all","selected"],"x-enum-descriptions":["All emojis","Selected emojis"]}}},"record_voice_messages":{"description":"Allow users to record voice messages that can be sent in direct messages or group conversations.","type":"boolean","example":true},"record_video_messages":{"description":"Allow users to record video messages that can be sent in direct messages or group conversations. If the file share setting is disabled, they will not be able to record and send video messages.","type":"boolean","example":true},"screen_capture":{"description":"Allow users to take and send screenshots in direct messages or group conversations.","type":"boolean","example":true}},"type":"object"},"email_notification":{"description":"Account Settings: Notification.","properties":{"alternative_host_reminder":{"description":"Notify when an alternative host is set or removed from a meeting.","type":"boolean","example":true},"cancel_meeting_reminder":{"description":"Notify the host and participants when a meeting is cancelled.","type":"boolean","example":true},"cloud_recording_available_reminder":{"description":"Whether to notify the host when a cloud recording is available.","type":"boolean","example":true},"jbh_reminder":{"description":"Notify the host when participants join the meeting before them.","type":"boolean","example":true},"low_host_count_reminder":{"description":"Notify user when host licenses are running low.","type":"boolean","example":true},"recording_available_reminder_alternative_hosts":{"description":"Whether to notify any alternative hosts when a cloud recording is available.","type":"boolean","example":true},"recording_available_reminder_schedulers":{"description":"Whether to notify the person who scheduled the meeting or webinar for the host when a cloud recording is available.","type":"boolean","example":true},"schedule_for_reminder":{"description":"Notify the host there is a meeting is scheduled, rescheduled, or cancelled.","type":"boolean","example":true}},"type":"object"},"feature":{"description":"Account Settings: Feature.","properties":{"meeting_capacity":{"description":"Set the maximum number of participants a host can have in a single meeting.","type":"integer","example":50}},"type":"object"},"in_meeting":{"description":"Account Settings: In Meeting.","properties":{"auto_generated_translation":{"description":"Information about the [Translate captions](https://support.zoom.us/hc/en-us/articles/8158738379917-Managing-automated-captions-) settings in meetings.","properties":{"language_item_pairList":{"description":"Information about all  speak languages and  translation languages in meetings.","type":"object","properties":{"trans_lang_config":{"type":"array","description":"A list of speak languages and  translation languages.","items":{"type":"object","description":"A item of speak language and  translation languages in meetings.","properties":{"speak_language":{"type":"object","description":"language used in meetings","properties":{"name":{"type":"string","enum":["Chinese (Simplified)","Dutch","English","French","German","Italian","Japanese","Korean","Portuguese","Russian","Spanish","Ukrainian"],"example":"Chinese (Simplified)","description":"the name of language"},"code":{"type":"string","enum":["zh","nl","en","fr","de","it","ja","ko","pt","ru","es","uk"],"example":"zh","description":"th code for the language"}}},"translate_to":{"type":"object","description":"Information about all the translation languages.","properties":{"all":{"type":"boolean","example":true,"description":"Whether to select all the translation languages"},"language_config":{"type":"array","description":"A list of the translation languages.","items":{"type":"object","description":"A item of translation languages.","properties":{"name":{"type":"string","example":"English","enum":["English"],"description":"the name of translation language"},"code":{"type":"string","enum":["en"],"example":"en","description":"the code of translation language"}}}}}}}}},"all":{"description":"Whether to select all speak languages and translation languages","type":"boolean","example":true}}},"enable":{"description":"Whether to allow users to enable automated translated captions in these language pairs in meetings.","type":"boolean","example":true}},"type":"object"},"alert_guest_join":{"description":"Identify guest participants in a meeting or webinar.","type":"boolean","example":true},"allow_host_to_enable_focus_mode":{"description":"Whether the host can enable [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode) when scheduling a meeting. This value defaults to `null`.","type":"boolean","example":true},"allow_live_streaming":{"description":"Whether to allow livestreaming.","type":"boolean","example":true},"allow_participants_chat_with":{"description":"Whether to allow participants to only chat with certain groups:\n* `1` — The participant cannot use chat.\n* `2` — Host and co-hosts only.\n * `3` — The participant can chat with other participants publicly.\n* `4` - The participant can chat with other participants publicly and privately.\n\n**Note:** This setting is only available with client versions 5.7.3 and above.","enum":[1,2,3,4],"type":"integer","x-enum-descriptions":["No one","Host and co-hosts","Everyone","Everyone and anyone directly"],"example":1},"allow_participants_to_rename":{"description":"If the value of this field is set to `true`, meeting participants and webinar panelists can be allowed to rename themselves during a meeting or a webinar.\n","type":"boolean","example":true},"allow_show_zoom_windows":{"description":"Show the Zoom desktop application when sharing screens. ","type":"boolean","example":true},"allow_users_save_chats":{"description":"Whether to allow participants to save meeting chats:\n* `1` — Participants cannot save meeting chats.\n* `2` — Participants can only save host and co-host meeting chats.\n* `3` — Participants can save all meeting chats.","enum":[1,2,3],"type":"integer","x-enum-descriptions":["Not allow","Host and co-hosts","Everyone"],"example":1},"allow_users_to_delete_messages_in_meeting_chat":{"description":"If the value of this field is set to `true`,  allow users to delete messages in the in-meeting chat.\n","type":"boolean","example":true},"annotation":{"description":"Allow participants to use annotation tools to add information to shared screens.","type":"boolean","example":true},"anonymous_question_answer":{"description":"Allow an anonymous Q&A in a webinar.","type":"boolean","example":true},"attendee_on_hold":{"deprecated":true,"default":false,"description":"Allow host to put attendee on hold.\n\n**This field has been deprecated and is no longer supported.**","type":"boolean","example":true},"attention_mode_focus_mode":{"default":false,"description":"Whether to enable [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode). When enabled, this feature only displays the host and co-hosts' video and profile pictures during a meeting. \n\n This value defaults to `false`.","type":"boolean","example":true},"auto_answer":{"description":"Whether to enable the [**Auto-answer group in chat**](https://support.zoom.us/hc/en-us/articles/203736135-Auto-answering-invitations-to-meetings) setting. Calls from these group members will be answered automatically.","type":"boolean","example":true},"auto_saving_chat":{"description":"Automatically save all in-meeting chats so that the host does not need to manually save the chat transcript after the meeting starts.","type":"boolean","example":true},"breakout_room":{"description":"Allow host to split meeting participants into separate, smaller rooms.","type":"boolean","example":true},"breakout_room_schedule":{"description":"Whether the host can assign participants to breakout rooms when scheduling. This feature is only available in version 4.5.0 or higher.","type":"boolean","example":true},"chat":{"description":"Allow meeting participants to send a message that is visible to all participants.","type":"boolean","example":true},"closed_caption":{"description":"Allow a host to type closed captions. Enable a host to assign a participant or third party device to add closed captions. ","type":"boolean","example":true},"closed_captioning":{"description":"Information about the account's closed captioning settings.","properties":{"auto_transcribing":{"description":"Whether to allow a live transcription service to transcribe meetings.","type":"boolean","example":true},"enable":{"description":"Whether to allow the host to type closed captions or assign a participant or 3rd-party service to provide closed captioning.","type":"boolean","example":true},"save_caption":{"description":"Whether to allow participants to save closed captions or transcripts.","type":"boolean","example":true},"third_party_captioning_service":{"description":"Whether to allow the use of an API token to integrate with 3rd-party closed captioning services.","type":"boolean","example":true},"view_full_transcript":{"description":"Whether to allow the viewing of full transcripts in the in-meeting side panel.","type":"boolean","example":true}},"type":"object"},"co_host":{"description":"Allow the host to add co-hosts.","type":"boolean","example":true},"custom_data_center_regions":{"description":"If set to `true`, account owners and admins on paid accounts can [select data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) to use for hosting their real-time meeting and webinar traffic. These regions can be provided in the `data_center_regions` field. If set to `false`, the regions cannot be customized and the default regions will be used.","type":"boolean","example":true},"custom_live_streaming_service":{"description":"Whether to allow custom livestreaming.","type":"boolean","example":true},"custom_service_instructions":{"description":"The specific instructions to configure a custom livestream.","type":"string","example":"The specific instructions"},"data_center_regions":{"type":"array","description":"If the value of `custom_data_center_regions` is `true`, a comma-separated list of the following [data center regions](https://support.zoom.us/hc/en-us/articles/360059254691-Datacenter-abbreviation-list) to opt in to: \n* `AU` — Australia.\n* `LA` — Latin America. \n* `CA` — Canada. \n* `CN` — China. \n* `DE` — Germany. \n* `HK` — Hong Kong SAR. \n* `IN` — India. \n* `IE` — Ireland. \n* `TY` — Japan. \n* `MX` — Mexico. \n* `NL` — Netherlands. \n* `SG` — Singapore. \n* `US` — United States.","items":{"type":"string","enum":["AU","LA","CA","CN","DE","HK","IN","IE","TY","MX","NL","SG","US"],"example":"AU"}},"disable_screen_sharing_for_host_meetings":{"description":"Whether to enable the **Disable desktop screen sharing for meetings you host** setting.","type":"boolean","example":true},"disable_screen_sharing_for_in_meeting_guests":{"description":"Whether to enable the **Disable screen sharing when guests are in the meeting** setting.","type":"boolean","example":true},"dscp_audio":{"description":"DSCP audio.","maximum":63,"minimum":1,"type":"integer","example":56},"dscp_marking":{"description":"DSCP marking.","type":"boolean","example":true},"dscp_video":{"description":"DSCP video.","maximum":63,"minimum":1,"type":"integer","example":40},"dscp_dual":{"type":"boolean","description":"Whether to use the differentiated services code point classifiers ('dscp_video', 'dscp_audio') in the dual way (incoming and outgoing).","example":false},"e2e_encryption":{"description":"Zoom requires encryption for all data between the Zoom cloud, Zoom client, and Zoom Room. Require encryption for 3rd party endpoints (H323/SIP).","type":"boolean","example":true},"entry_exit_chime":{"description":"Play sound when participants join or leave.<br>`host` - Heard by host only.<br>`all` - Heard by host and all attendees.<br>`none` - Disable.","enum":["host","all","none"],"type":"string","x-enum-descriptions":["Heard by host only","Heard by host and all attendees","Disable"],"example":"all"},"far_end_camera_control":{"description":"Allow another user to take control of your camera during a meeting.","type":"boolean","example":true},"feedback":{"description":"Add a \"Feedback\" tab to the Windows Settings or Mac Preferences dialog. Enable users to provide feedback to Zoom at the end of the meeting.","type":"boolean","example":true},"file_transfer":{"description":"Indicates whether [in-meeting file transfer](https://support.zoom.us/hc/en-us/articles/209605493-In-meeting-file-transfer) setting has been enabled on the account or not.","type":"boolean","example":true},"group_hd":{"description":"Activate higher quality video for host and participants.\nPlease note: This will use more bandwidth.","type":"boolean","example":true},"join_from_desktop":{"description":"Whether to allow participants to join a meeting directly from their desktop browser. Note that the meeting experience from the desktop browser is limited.","type":"boolean","example":true},"join_from_mobile":{"description":"Whether to allow participants to join a meeting directly from their mobile browser. Note that the meeting experience from the mobile browser is limited.","type":"boolean","example":true},"language_interpretation":{"description":"Information about the [language interpretation](https://support.zoom.us/hc/en-us/articles/360034919791-Using-Language-Interpretation-in-your-meeting-or-webinar) settings.","properties":{"custom_languages":{"description":"A list of user-defined supported languages.","items":{"type":"string","example":"English"},"type":"array"},"enable":{"description":"Whether to allow hosts to assign participants as interpreters who can interpret one language into another in real-time.","type":"boolean","example":true},"enable_language_interpretation_by_default":{"description":"Whether enable language interpretation by default.","type":"boolean","example":true},"allow_participants_to_speak_in_listening_channel":{"description":"Whether to allow participants to speak in listening channel.","type":"boolean","example":true},"allow_up_to_25_custom_languages_when_scheduling_meetings":{"description":"Whether to allow up to 25 custom languages when scheduling meetings.","type":"boolean","example":true},"languages":{"description":"A list of system-supported languages.","items":{"enum":["English","Chinese","Japanese","German","French","Russian","Portuguese","Spanish","Korean"],"type":"string","example":"English"},"type":"array"}},"type":"object"},"live_streaming_facebook":{"description":"Whether to allow Facebook livestreaming.","type":"boolean","example":true},"live_streaming_youtube":{"description":"Whether to allow YouTube livestreaming.","type":"boolean","example":true},"manual_captioning":{"description":"Information about manual captioning settings.","properties":{"allow_to_type":{"description":"Whether to allow the host to manually caption or let the host assign a participant to provide manual captioning.","type":"boolean","example":true},"auto_generated_captions":{"description":"Whether to enable Zoom's [live transcription feature](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription#h_01FHGGHYJ4457H4GSZY0KM3NSB).","type":"boolean","example":true},"full_transcript":{"description":"Whether to enable the viewing of full transcripts in the in-meeting side panel.","type":"boolean","example":true},"manual_captions":{"description":"Whether to [enable manual closed captioning](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription).","type":"boolean","example":true},"save_captions":{"description":"Whether to allow participants to [save closed captions or transcripts](https://support.zoom.us/hc/en-us/articles/360060958752). \n\n **Note:** If the `full_transcript` field is set to `false`, participants **cannot** save captions.","type":"boolean","example":true},"third_party_captioning_service":{"description":"Whether to allow the use of an API token to integrate with a [3rd-party device](https://support.zoom.us/hc/en-us/articles/115002212983) to provide closed captioning.","type":"boolean","example":true}},"type":"object"},"meeting_reactions":{"description":"Whether meeting participants can [communicate using the emoji reactions](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions) located in the **Reactions** menu in the meeting toolbar.","type":"boolean","example":true},"meeting_reactions_emojis":{"description":"Choose from the following meeting reaction options:\n* `all` — All emojis: Allow meeting participants to use any emoji available in Zoom chat as a reaction in a meeting.\n* `selected` — Selected emojis: Allow meeting participants to use the 6 standard meeting reaction emojis: Clapping Hands, Thumbs Up, Heart, Tears of Joy, Open Mouth, Party Popper (Tada, Celebration) ","type":"string","enum":["all","selected"],"x-enum-descriptions":["Allow meeting participants to use any emoji available in Zoom chat as a reaction in a meeting.","Allow meeting participants to use the 6 standard meeting reaction emojis: Clapping Hands, Thumbs Up, Heart, Tears of Joy, Open Mouth, Party Popper (Tada, Celebration) ."],"example":"all"},"allow_host_panelists_to_use_audible_clap":{"description":"Whether to allow host and panelist to use audible clap.","type":"boolean","example":true},"webinar_reactions":{"description":"Set this field to true to use [webinar reactions](https://support.zoom.us/hc/en-us/articles/4803536268429).","type":"boolean","example":true},"meeting_survey":{"description":"Whether to allow the host to present a survey to participants once a meeting has ended. This feature is only available in version 5.7.3 or higher.","type":"boolean","example":true},"original_audio":{"description":"Allow users to select original sound in their client settings.","type":"boolean","example":true},"p2p_connetion":{"description":"Peer to peer connection while only two people are in a meeting.","type":"boolean","example":true},"p2p_ports":{"description":"Peer to peer listening ports range.","type":"boolean","example":true},"polling":{"description":"Add \"Polls\" to the meeting controls.","type":"boolean","example":true},"meeting_polling":{"type":"object","description":"Information about the account's meeting polling settings.","properties":{"enable":{"type":"boolean","description":"Whether to allow the host to add polls before or during a meeting.","example":true},"require_answers_to_be_anonymous":{"description":"Whether to require answers to be anonymous.","type":"boolean","example":true},"advanced_polls":{"type":"boolean","description":"Whether to allow host to create advanced polls and quizzes. Advanced polls and quizzes include single choice, multiple choice, drop down, matching, short answer, long answer, rank order, and fill-in-the-blank questions. Hosts can also set the correct answers for quizzes they create.","example":true},"manage_saved_polls_and_quizzes":{"description":"Whether to allow users to manage saved polls and quizzes from Meetings","type":"boolean","example":true},"allow_alternative_host_to_add_edit":{"type":"boolean","description":"Whether to allow the alternative host to add or edit polls and quizzes.","example":true},"allow_host_to_upload_image":{"description":"Whether to allow host to upload an image for each question.","type":"boolean","example":true}}},"ports_range":{"default":"","description":"The listening ports range, separated by a comma (ex 55,56). The ports range must be between 1 to 65535.","type":"string","example":"1;65535"},"post_meeting_feedback":{"description":"Display a thumbs up or down survey at the end of each meeting.","type":"boolean","example":true},"private_chat":{"description":"Allow a meeting participant to send a private message to another participant.","type":"boolean","example":true},"record_play_own_voice":{"description":"Record and play their own voice.","type":"boolean","example":true},"remote_control":{"description":"Allow users to request remote control.","type":"boolean","example":true},"non_verbal_feedback":{"default":false,"description":"Whether to enable the [**Non-verbal feedback**](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions-) setting.  This value defaults to `false`.","type":"boolean","example":true},"remote_support":{"default":false,"description":"Whether to enable the [**Remote support**](https://support.zoom.us/hc/en-us/articles/360060951012-Enabling-remote-support) setting. This value defaults to `false`.","type":"boolean","example":true},"request_permission_to_unmute_participants":{"type":"boolean","description":"Whether to enable the [**Request permission to unmute participants**](https://support.zoom.us/hc/en-us/articles/203435537-Muting-and-unmuting-participants-in-a-meeting) setting.","example":true},"screen_sharing":{"description":"Allow screen sharing.","type":"boolean","example":true},"sending_default_email_invites":{"description":"Only show the default email when sending email invites.","type":"boolean","example":true},"show_a_join_from_your_browser_link":{"description":"Whether to allow participants to join a meeting directly from their browser and bypass the Zoom application download process. This is useful for participants who cannot download, install, or run applications. Note that the meeting experience from the browser is limited.","type":"boolean","example":true},"show_meeting_control_toolbar":{"description":"Always show the meeting control toolbar.","type":"boolean","example":true},"slide_control":{"description":"Whether the person sharing during a presentation can allow others to control the slide presentation. This feature is only available in version 5.8.3 or higher.","type":"boolean","example":true},"stereo_audio":{"description":"Allow users to select stereo audio in their client settings.","type":"boolean","example":true},"unchecked_data_center_regions":{"description":"If the value of `custom_data_center_regions` is `true`, a comma-separated list of the following [data center regions](https://support.zoom.us/hc/en-us/articles/360059254691-Datacenter-abbreviation-list) to **not** opt in to: \n* `EU` — Europe. \n* `HK` — Hong Kong. \n* `AU` — Australia. \n* `IN` — India. \n* `LA` — Latin America. \n* `TY` — Tokyo. \n* `CN` — China. \n* `US` — United States. \n* `CA` — Canada.","items":{"enum":["EU","HK","AU","IN","TY","CN","US","CA","DE","NL","LA"],"type":"string","example":"AU"},"type":"array"},"use_html_format_email":{"description":"Use HTML formatted email for the Outlook plugin.","type":"boolean","example":true},"virtual_background":{"description":"Allow users to replace their background with any selected image. Choose or upload an image in the Zoom desktop application settings.","type":"boolean","example":true},"virtual_background_settings":{"description":"Settings to manage virtual background.","properties":{"allow_upload_custom":{"description":"Allow users to upload custom backgrounds.","type":"boolean","example":true},"allow_videos":{"description":"Allow use of videos for virtual backgrounds.","type":"boolean","example":true},"enable":{"description":"Enable virtual background.","type":"boolean","example":true},"files":{"items":{"properties":{"id":{"description":"Unique identifier of the file.","type":"string","example":"sdvfwr2dsf43t34612frg1v"},"is_default":{"description":"Indicates whether or not this file is the default virtual background file.","type":"boolean","example":true},"name":{"description":"File name.","type":"string","example":"test.png"},"size":{"description":"File size.","type":"integer","example":1213},"type":{"description":"File type.","type":"string","example":"image"}},"type":"object"},"type":"array"}},"type":"object"},"watermark":{"description":"Add a watermark when viewing a shared screen.","type":"boolean","example":true},"webinar_chat":{"properties":{"allow_attendees_chat_with":{"description":"Allow webinar attendees to chat with:\n* `1` — No one.\n* `2` — Host and all panelists.\n* `3` — Everyone.","enum":[1,2,3],"type":"integer","example":1},"allow_auto_save_local_chat_file":{"description":"Whether to automatically save chat messages to a local file on the host's computer when the webinar ends.","type":"boolean","example":true},"allow_panelists_chat_with":{"description":"Allow webinar panelists to chat with:\n* `1` — Host and all panelists.\n* `2` — Everyone.","enum":[1,2],"type":"integer","example":1},"allow_panelists_send_direct_message":{"description":"Whether to allow webinar panelists to send direct messages to other panelists.","type":"boolean","example":true},"allow_users_save_chats":{"description":"Whether to allow webinar attendees to save chats:\n* `0` — Attendees cannot save chats.\n* `1` — Attendees can only save host and panelist chats.\n* `2` — Attendees can save all chats.","enum":[0,1,2],"type":"integer","example":1},"default_attendees_chat_with":{"description":"By default, allow webinar attendees to chat with:\n* `1` — Host and all panelists.\n* `2` — Everyone.","enum":[1,2],"type":"integer","example":1},"enable":{"description":"Whether to allow webinar participants to send chat messages.","type":"boolean","example":true}},"type":"object"},"webinar_live_streaming":{"properties":{"custom_service_instructions":{"description":"The specific instructions to allow your account's meeting hosts to configure a custom livestream.","type":"string","example":"The specific instructions"},"enable":{"description":"Whether to enable webinar livestreaming.","type":"boolean","example":true},"live_streaming_reminder":{"description":"Whether to notify users to watch the livestream. This does not apply to custom RTMP (real-time messaging protocol).","type":"boolean","example":true},"live_streaming_service":{"description":"The available livestreaming services:\n* `facebook`\n* `workplace_by_facebook`\n* `youtube`\n* `custom_live_streaming_service`","items":{"enum":["facebook","workplace_by_facebook","youtube","custom_live_streaming_service"],"type":"string","x-enum-descriptions":["Facebook","Workplace by Facebook","YouTube","Custom Live Streaming Service"],"example":"Facebook"},"type":"array"}},"type":"object"},"webinar_polling":{"description":"Information about the account's webinar polling settings.","properties":{"enable":{"description":"Whether to allow the host to add polls before or during a webinar.","type":"boolean","example":true},"advanced_polls":{"description":"Whether to allow host to create advanced polls and quizzes. Advanced polls and quizzes include single choice, multiple choice, drop down, matching, short answer, long answer, rank order, and fill-in-the-blank questions. Hosts can also set the correct answers for quizzes they create.","type":"boolean","example":true},"require_answers_to_be_anonymous":{"description":"Whether to require answers to be anonymous.","type":"boolean","example":true},"manage_saved_polls_and_quizzes":{"description":"Whether to allow users to manage saved polls and quizzes from Meetings","type":"boolean","example":true},"allow_alternative_host_to_add_edit":{"type":"boolean","description":"Whether to allow the alternative host to add or edit polls and quizzes.","example":true},"allow_host_to_upload_image":{"description":"Whether to allow host to upload an image for each question.","type":"boolean","example":true}},"type":"object"},"webinar_question_answer":{"description":"Whether attendees can ask the host and panelists questions in the webinar.","type":"boolean","example":true},"webinar_survey":{"description":"Whether to allow the host to present surveys to attendees once a webinar has ended.","type":"boolean","example":true},"whiteboard":{"description":"Allow participants to share a whiteboard that includes annotation tools.","type":"boolean","example":true},"who_can_share_screen":{"description":"Indicates who can share their screen or content during meetings. The value can be one of the following: <br>\n`host`: Only host can share the screen.<br>\n`all`: Both hosts and attendees can share their screen during meetings. For Webinar, the hosts and panelists can start screen sharing, but not the attendees.\n","enum":["host","all"],"type":"string","example":"host"},"who_can_share_screen_when_someone_is_sharing":{"description":"Indicates who is allowed to start sharing screen when someone else in the meeting is sharing their screen. The value can be one of the following:<br>\n`host`: Only a host can share the screen when someone else is sharing.<br>\n`all`: Anyone in the meeting is allowed to start sharing their screen when someone else is sharing. For Webinar, the hosts and panelists can start screen sharing, but not the attendees.\n","enum":["host","all"],"type":"string","example":"host"},"participants_share_simultaneously":{"description":"Indicates how many participants can share at the same time. The value can be one of the following:<br>\n`one`: Only one participant can share at a time\n.<br>\n`multiple`: Multiple participants can share simultaneously (dual monitors recommended)\n. For Webinar, the hosts and panelists can start screen sharing, but not the attendees.\n","enum":["multiple","one"],"type":"string","example":"multiple"},"workplace_by_facebook":{"description":"Whether to allow Workplace by Facebook livestreaming.","type":"boolean","example":true},"transfer_meetings_between_devices":{"description":"Users can move to a new device without leaving the meeting they're in.","type":"boolean","example":true}},"type":"object"},"integration":{"description":"Account Settings: Integration.","properties":{"box":{"description":"Enable users who join a meeting from their mobile device to share content from their Box account.","type":"boolean","example":true},"dropbox":{"description":"Enable users who join a meeting from their mobile device to share content from their Dropbox account.","type":"boolean","example":true},"google_calendar":{"description":"Enable meetings to be scheduled using Google Calendar.","type":"boolean","example":true},"google_drive":{"description":"Enable users who join a meeting from their mobile device to share content from their Google Drive.","type":"boolean","example":true},"kubi":{"description":"Enable users to control a connected Kubi device from within a Zoom meeting.","type":"boolean","example":true},"microsoft_one_drive":{"description":"Enable users who join a meeting from their mobile device to share content from their Microsoft OneDrive account.","type":"boolean","example":true}},"type":"object"},"other_options":{"properties":{"allow_auto_active_users":{"description":"Whether administrators can activate users with a single default password when they add users. This immediately activates the users without waiting for them to set their own password.","type":"boolean","example":true},"allow_users_contact_support_via_chat":{"description":"Whether to display the Zoom Help badge on the bottom-right of the page.","type":"boolean","example":true},"allow_users_enter_and_share_pronouns":{"description":"Whether users can add pronouns to their profile cards and share them during meetings and webinars.","type":"boolean","example":true},"blur_snapshot":{"description":"Whether iOS blurs the screenshot in the task switcher when multiple apps are open. Android hides the screenshot in the system-level list of recent apps.","type":"boolean","example":true},"display_meetings_scheduled_for_others":{"description":"Whether a user with the [scheduling privilege](https://support.zoom.us/hc/en-us/articles/201362803-Scheduling-privilege) can view other users' meetings.","type":"boolean","example":true},"meeting_qos_and_mos":{"description":"The Dashboard meeting [quality scores and network alerts](https://support.zoom.us/hc/en-us/articles/360061244651) setting: \n* `0` — Do not enable meeting quality scores and network alerts on the Dashboard. \n* `1` — Display the meeting quality score and network alerts on the Dashboard. \n* `2` — Use custom thresholds for quality scores and network alerts. \n* `3` —Both Use custom thresholds for quality scores and network alerts and Display the meeting quality score and network alerts on the Dashboard.","enum":[0,1,2,3],"type":"integer","x-enum-descriptions":["Do not display meeting quality scores and network alerts on the Dashboard","Display the meeting quality score and network alerts on the Dashboard","Use custom thresholds for quality scores and network alerts"],"example":0},"show_one_user_meeting_on_dashboard":{"description":"Whether meetings with only one person will display on the Dashboard and in reports.","type":"boolean","example":true},"use_cdn":{"description":"Allow connections to different CDNs (content delivery networks) for a better web browsing experience. All users in your organization will use the selected CDN to access static resources: \n* `none` — Do not use a CDN. \n* `default` — Use the Amazon CloudFront CDN for users **except** Chinese Mainland users. Chinese Mainland users will use the Wangsu CDN (China). \n* `wangsu` — Use the Wangsu CDN for all users.","enum":["none","default","wangsu"],"type":"string","x-enum-descriptions":["Do not use use a CDN","All users will use the Amazon CloudFront CDN except Chinese Mainland users. Chinese Mainland users will use the Wangsu CDN (China)","All users use the Wangsu CDN (China)"],"example":"none"},"webinar_registration_options":{"type":"object","description":"Webinar registration options.","properties":{"allow_host_to_enable_join_info":{"type":"boolean","description":"Allow host to enable \"Show join info on registration confirmation page\".","example":true},"allow_host_to_enable_social_share_buttons":{"type":"boolean","description":"Allow host to enable \"Show social share buttons on registration page\".","example":true},"enable_custom_questions":{"type":"boolean","description":"Enable custom questions.","example":true}}}},"type":"object"},"profile":{"properties":{"recording_storage_location":{"properties":{"allowed_values":{"description":"Users can choose the country to store their recorded content. Content can include meeting, webinar, and phone recordings, as well as voicemail, transcripts, and custom greeting prompts. See [Managing the Communications Content storage location](https://support.zoom.us/hc/en-us/articles/360050781131) for details.\n\nProvide abbreviated country codes as the value for this field. See the [Countries abbreviation list](https://marketplace.zoom.us/docs/api-reference/other-references/abbreviation-lists#countries) for details.","items":{"type":"string","example":"US"},"type":"array"},"value":{"description":"Abbreviated country code.","type":"string","example":"US"}},"type":"object"}},"title":"Profile","type":"object"},"recording":{"description":"Account Settings: Recording.","properties":{"account_user_access_recording":{"description":"Cloud recordings are only accessible to account members. People outside of your organization cannot open links that provide access to cloud recordings.","type":"boolean","example":true},"allow_recovery_deleted_cloud_recordings":{"description":"Allow recovery of deleted cloud recordings from trash. \nIf the value of this field is set to `true`, deleted cloud recordings will be kept in trash for 30 days after deletion and can be recovered within that period. ","type":"boolean","example":true},"archive":{"description":"[Archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-Meeting-and-Webinar-data) settings. This setting can only be used if you have been granted with archiving solution access by the Zoom support team.","properties":{"enable":{"description":"Enable the archiving feature.","type":"boolean","example":true},"settings":{"properties":{"audio_file":{"description":"Include in-meeting and/or in-webinar audio in the archive.","type":"boolean","example":true},"cc_transcript_file":{"description":"Include closed caption or transcript in the archive.","type":"boolean","example":true},"chat_file":{"description":"Include in-meeting chat in the archive.","type":"boolean","example":true},"chat_with_sender_email":{"description":"Include user email in in-meeting chat file.","type":"boolean","example":true},"video_file":{"description":"Include in-meeting and/or in-webinar video in the archive.","type":"boolean","example":true},"chat_with_direct_message":{"description":"Include direct message in in-meeting chat file.","type":"boolean","example":true},"archive_retention":{"description":"The retention period for archiving content, in days.","type":"integer","example":1,"enum":[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]},"action_when_archive_failed":{"description":"Perform the action when meetings or webinars cannot be archived.<br>`1` - Participants can stay in the meeting and will receive a notification.<br>`2` - Nobody can join or stay in the meeting.","type":"integer","example":1,"enum":[1,2]},"notification_when_archiving_starts":{"description":"Show notification when video or audio archiving starts.<br>`1` - Participants can stay in the meeting and will receive a notification.<br>`2` - Nobody can join or stay in the meeting.","type":"string","example":"participants","enum":["participants","guest"]},"play_voice_prompt_when_archiving_starts":{"description":"Play voice prompt when video or audio archiving starts.<br>`1` - Participants can stay in the meeting and will receive a notification.<br>`2` - Nobody can join or stay in the meeting.","type":"string","example":"guest","enum":["participants","guest","none"]}},"type":"object"},"type":{"description":"Archive types:\n\n* `1`: Only meetings are archived.<br>\n* `2`: Only webinars are archived.<br>\n* `3`: Both meetings and webinars are archived.","enum":[1,2,3],"type":"integer","example":1}},"type":"object"},"auto_delete_cmr":{"description":"Allow Zoom to permanently delete recordings automatically after a specified number of days.","type":"boolean","example":true},"auto_delete_cmr_days":{"description":"When the `auto_delete_cmr` value is `true`, this value is the number of days before the auto-deletion of cloud recordings: \n* `30` — 30 days. \n* `60` — 60 days. \n* `90` — 90 days. \n* `120` — 120 days.","enum":[30,60,90,120],"type":"integer","x-enum-descriptions":["30 days.","60 days.","90 days.","120 days."],"example":90},"record_files_separately":{"type":"object","description":"The account's [**Record active speaker, gallery view and shared screen separately**](https://support.zoom.us/hc/en-us/articles/360060316092-Changing-basic-and-advanced-cloud-recording-settings#h_01F4CYJTCTXNS2MXH00W9EFG6R) settings.","properties":{"active_speaker":{"type":"boolean","description":"Whether to record the active speaker only.","example":true},"gallery_view":{"type":"boolean","description":"Whether to record the gallery view only.","example":true},"shared_screen":{"type":"boolean","description":"Whether to record the shared screen only.","example":true}}},"display_participant_name":{"type":"boolean","description":"Whether to display participants' names in the recording.","example":true},"recording_thumbnails":{"type":"boolean","description":"Whether to record thumbnails of the presenter when they are sharing their screen.","example":true},"optimize_recording_for_3rd_party_video_editor":{"type":"boolean","description":"Whether to optimize recordings for a 3rd party video editor. This may increase the file size and the time it takes to generate recording files.","example":true},"recording_highlight":{"type":"boolean","description":"Whether to enable the [recording highlights](https://support.zoom.us/hc/en-us/articles/360060802432) feature.","example":true,"deprecated":true},"save_panelist_chat":{"type":"boolean","description":"Whether to save panelist chat to the recording. This setting saves messages sent by panelists during a webinar to either all panelists or all panelists and attendees to the recording.","example":true},"save_poll_results":{"type":"boolean","description":"Whether to save poll results shared during the meeting or webinar. This also includes poll results shared during the meeting or webinar.","example":true},"save_close_caption":{"type":"boolean","description":"Whether to save [closed captions](https://support.zoom.us/hc/en-us/articles/207279736) as a VTT (Video Track Text) file.","example":true},"auto_recording":{"description":"Automatic recording:<br>`local` - Record on local.<br>`cloud` -  Record on cloud.<br>`none` - Disabled.","enum":["local","cloud","none"],"type":"string","x-enum-descriptions":["Record on local","Record on cloud","Disabled"],"example":"local"},"cloud_recording":{"description":"Allow hosts to record and save the meeting in the cloud.","type":"boolean","example":true},"cloud_recording_download":{"description":"Cloud recording downloads.","type":"boolean","example":true},"cloud_recording_download_host":{"description":"Only the host can download cloud recordings.","type":"boolean","example":true},"host_delete_cloud_recording":{"description":"If the value of this field is set to `true`, hosts will be able to delete the recordings. If this option is set to `false`, the recordings cannot be deleted by the host and only admin can delete them.\n","type":"boolean","example":true},"ip_address_access_control":{"description":"Setting to allow cloud recording access only from specific IP address ranges.\n","properties":{"enable":{"description":"If set to `true`, the cloud recordings of this account can only be accessed by the IP addresses defined in the `ip_addresses_or_ranges` property.\n\n","type":"boolean","example":true},"ip_addresses_or_ranges":{"description":"IP addresses or ranges that have access to the cloud recordings. Separate multiple IP ranges with comma. Use n.n.n.n, n.n.n.n/n or n.n.n.n - n.n.n.n syntax where n is a number.\n\nExample: `46.33.24.184, 48.99.100.2/25` or `200.181.108.17 - 220.181.108.157`\n\n","type":"string","example":"46.33.24.184"}},"type":"object"},"local_recording":{"description":"Allow hosts and participants to record the meeting using a local file.","type":"boolean","example":true},"prevent_host_access_recording":{"description":"If set to `true`, meeting hosts cannot view their meeting cloud recordings. Only the admins who have recording management privilege can access them.\n","type":"boolean","example":true},"record_audio_file":{"description":"Whether to record one audio file for all participants.","type":"boolean","example":true},"record_gallery_view":{"description":"Record the gallery view with a shared screen.","type":"boolean","example":true},"record_speaker_view":{"description":"Record the active speaker with a shared screen.","type":"boolean","example":true},"recording_audio_transcript":{"description":"Automatically transcribe the audio of the meeting or webinar to the cloud.","type":"boolean","example":true},"recording_disclaimer":{"description":"Show a disclaimer to participants before a recording starts\n","type":"boolean","example":true},"smart_recording":{"description":"By selecting this option, your recording will have meeting smart chapters, and next steps. You are directing Zoom to access, process, and use your account's recording data for the purpose of analysis and insights.","properties":{"create_recording_highlights":{"description":"By selecting this option, meeting details in the audio transcript will be highlighted. Hosts can modify highlighted sections and generate a video summary (highlighted sections may have a 3-second offset) based on these sections. The summary is for informational purposes only and may not be complete.","type":"boolean","example":true},"create_smart_chapters":{"description":"By selecting this option, your recording will have chapters with overview. Hosts can edit the chapters.","type":"boolean","example":true},"create_next_steps":{"description":"By selecting this option, there will be a summary of actions to take after the recorded meeting.","type":"boolean","example":true}},"type":"object"},"recording_password_requirement":{"description":"This object represents the minimum password requirements set for recordings via Account Recording Settings.","properties":{"have_letter":{"description":"Indicates whether or not password must contain at least one alphabetical letter (a, b, c..).","type":"boolean","example":true},"have_number":{"description":"Indicates whether or not password must contain at least one number(1, 2, 3..).","type":"boolean","example":true},"have_special_character":{"description":"Indicates whether or not password must contain at least one special character(!, @, #..).","type":"boolean","example":true},"length":{"description":"Minimum required length for the password.","maximum":10,"type":"integer","example":10},"only_allow_numeric":{"description":"Indicates whether or not password must contain only numeric characters.","type":"boolean","example":true}},"type":"object"},"required_password_for_existing_cloud_recordings":{"description":"Require a passcode to access existing cloud recordings.","type":"boolean","example":true},"required_password_for_shared_cloud_recordings":{"type":"boolean","description":"Whether to require a passcode to share cloud recordings.","example":true},"save_chat_text":{"description":"Save the chat text from the meeting.","type":"boolean","example":true},"show_timestamp":{"description":"Add a timestamp to the recording.","type":"boolean","example":true}},"type":"object"},"schedule_meeting":{"description":"Account Settings: Schedule Meeting.","properties":{"audio_type":{"default":"both","description":"Determine how participants can join the audio portion of the meeting.<br>`both` - Telephony and VoIP.<br>`telephony` - Audio PSTN telephony only.<br>`voip` - VoIP only.<br>`thirdParty` - 3rd party audio conference.","enum":["both","telephony","voip","thirdParty"],"type":"string","x-enum-descriptions":["Telephony and VoIP","Audio PSTN telephony only","VoIP only","3rd party audio conference"],"example":"both"},"enforce_login":{"description":"Only Zoom users who are signed in can join meetings.","type":"boolean","example":true},"enforce_login_domains":{"description":"Only signed in users with a specified domain can join the meeting. ","type":"string","example":"example.com"},"enforce_login_with_domains":{"description":"Only signed in users with a specific domain can join meetings.","type":"boolean","example":true},"force_pmi_jbh_password":{"description":"Require a password for Personal Meetings if attendees can join before host.","type":"boolean","example":true},"host_video":{"description":"Start meetings with the host video on.","type":"boolean","example":true},"jbh_time":{"description":"If the value of \"join_before_host\" field is set to `true`, this field can be used to indicate time limits within which a participant may join a meeting before a host. The value of this field can be one of the following:\n\n*  `0`: Allow participant to join anytime.\n*  `5`: Allow participant to join 5 minutes before meeting start time.\n * `10`: Allow participant to join 10 minutes before meeting start time.","enum":[0,5,10,15],"type":"integer","example":5},"join_before_host":{"description":"Allow participants to join the meeting before the host arrives.","type":"boolean","example":true},"meeting_password_requirement":{"description":"Account wide meeting/webinar [password requirements](https://support.zoom.us/hc/en-us/articles/360033559832-Meeting-and-webinar-passwords#h_a427384b-e383-4f80-864d-794bf0a37604).","properties":{"consecutive_characters_length":{"description":"\nSpecify the max length of consecutive characters(abcde...) that can be used in a password.\nIf you set the value of this field to `0`, no restriction will be applied on consecutive characters. \n\nIf you would like to set this restriction, you can specify a number between `4` and `8` that will define the maximum allowed length for consecutive characters in a password.\n\nThe maximum allowed length will be `n-1` where `n` refers to the value you provide for this field.  For instance, if you provide `4` as the value, there can only be a maximum of `3` consecutive characters in a password(example: abc1x@8fdh).","enum":[0,4,5,6,7,8],"type":"integer","example":8},"have_letter":{"description":"If set to `true`, the password must contain at least 1 letter (such as a,b,c...).\n","type":"boolean","example":true},"have_number":{"description":"If set to `true`, the password must contain at least 1 number (such as 1,2,3...).","type":"boolean","example":true},"have_special_character":{"description":"If set to `true`, the password must have at least 1 special character (!,@,#...).","type":"boolean","example":true},"have_upper_and_lower_characters":{"description":"If set to `true`, the password must include both uppercase and lowercase characters.","type":"boolean","example":true},"length":{"description":"The minimum length that the meeting/webinar password needs to have.","type":"integer","example":8},"only_allow_numeric":{"description":"If set to `true`, the password must only contain numbers and no other characters.","type":"boolean","example":true},"weak_enhance_detection":{"description":"If set to `true`, users will be informed if the provided password is weak.","type":"boolean","example":true}},"type":"object"},"not_store_meeting_topic":{"description":"Always display \"Zoom Meeting\" as the meeting topic.","type":"boolean","example":true},"participant_video":{"description":"Start meetings with the participant video on. Participants can change this setting during the meeting.","type":"boolean","example":true},"personal_meeting":{"description":"Personal Meeting Setting.<br><br>\n`true`: Indicates that the **\"Enable Personal Meeting ID\"** setting is turned on. Users can choose to use personal meeting ID for their meetings. <br><br>\n`false`: Indicates that the **\"Enable Personal Meeting ID\"** setting is [turned off](https://support.zoom.us/hc/en-us/articles/201362843-Personal-meeting-ID-PMI-and-personal-link#h_aa0335c8-3b06-41bc-bc1f-a8b84ef17f2a). If this setting is disabled, meetings that were scheduled with PMI will be invalid. Scheduled meetings will need to be manually updated.\nFor Zoom Phone only:If a user has been assigned a desk phone, **\"Elevate to Zoom Meeting\"** on desk phone will be disabled.\n\n\n","type":"boolean","example":true},"require_password_for_instant_meetings":{"description":"Require a password for instant meetings. If you use PMI for your instant meetings, this option will be disabled. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.\n","type":"boolean","example":true},"require_password_for_pmi_meetings":{"description":"Require a password for a meeting held using Personal Meeting ID (PMI) This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.\n","enum":["jbh_only","all","none"],"type":"string","x-enum-descriptions":["Only meetings with Join Before Host enabled","All meetings using PMI","Disabled"],"example":"jbh_only"},"require_password_for_scheduled_meetings":{"description":"Require a password for meetings which have already been scheduled\n","type":"boolean","example":true},"require_password_for_scheduling_new_meetings":{"description":"Require a password when scheduling new meetings. This setting applies for regular meetings that do not use PMI. If enabled, a password will be generated while a host schedules a new meeting and participants will be required to enter the password before they can join the meeting. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.","type":"boolean","example":true},"use_pmi_for_instant_meetings":{"description":"Use Personal Meeting ID (PMI) when starting an instant meeting\n","type":"boolean","example":true},"use_pmi_for_scheduled_meetings":{"description":"Use Personal Meeting ID (PMI) when scheduling a meeting\n","type":"boolean","example":true},"always_display_zoom_meeting_as_topic":{"description":"Information about the [**Always display \"Zoom Meeting\" as the meeting topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.","type":"object","properties":{"enable":{"type":"boolean","description":"Whether to enable the **Always display \"Zoom Meeting\" as the meeting topic** setting.","example":true},"display_topic_for_scheduled_meetings":{"type":"boolean","description":"Whether to display \"Zoom Meeting\" as the topic for already-scheduled meetings.","example":true}}},"hide_meeting_description":{"type":"object","description":"Information about the **Hide meeting description** feature.","properties":{"enable":{"type":"boolean","description":"Whether to enable the **Hide meeting description** setting.","example":true},"hide_description_for_scheduled_meetings":{"type":"boolean","description":"Whether to hide the description for already-scheduled meetings.","example":true}}},"always_display_zoom_webinar_as_topic":{"type":"object","description":"Information about the [**Always show \"Zoom Webinar\" as the webinar topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.","properties":{"enable":{"type":"boolean","description":"Whether to enable the **Always show \"Zoom Webinar\" as the webinar topic** setting.","example":true},"display_topic_for_scheduled_webinars":{"type":"boolean","description":"Whether to display \"Zoom Webinar\" as the topic for already-scheduled meetings.","example":true}}},"hide_webinar_description":{"type":"object","description":"Information about the **Hide webinar description** feature.","properties":{"enable":{"type":"boolean","description":"Whether to enable the **Hide webinar description** setting.","example":true},"hide_description_for_scheduled_webinars":{"type":"boolean","description":"Whether to hide webinar description for the webinars which have already been scheduled.","example":true}}}},"type":"object"},"telephony":{"description":"Account Settings: Telephony.","properties":{"audio_conference_info":{"description":"Third party audio conference info.","type":"string","example":"test"},"telephony_regions":{"description":"Indicates where most of the participants call into or call from during a meeting.","properties":{"allowed_values":{"description":"Telephony region options provided by Zoom to select from.","items":{"type":"string","example":"CNTB"},"type":"array"},"selection_values":{"description":"The account's selected telephony regions that indicate where most participants call in to or call from during a meeting.","type":"string","example":"USTB"}},"type":"object"},"third_party_audio":{"description":"Users can join the meeting using the existing third party audio configuration.","type":"boolean","example":true}},"type":"object"},"tsp":{"description":"Account Settings: TSP.","properties":{"call_out":{"description":"Call Out","type":"boolean","example":true},"call_out_countries":{"description":"Call Out Countries/Regions","items":{"type":"string","example":"us"},"type":"array"},"display_toll_free_numbers":{"description":"Display toll-free numbers","type":"boolean","example":true},"show_international_numbers_link":{"description":"Show international numbers link on the invitation email","type":"boolean","example":true}},"type":"object"},"zoom_rooms":{"description":"Account Settings: Zoom Rooms.","properties":{"auto_start_stop_scheduled_meetings":{"description":"Automatic start and stop for scheduled meetings.","type":"boolean","example":true},"cmr_for_instant_meeting":{"description":"Cloud recording for instant meetings.","type":"boolean","example":true},"force_private_meeting":{"description":"Shift all meetings to private.","type":"boolean","example":true},"hide_host_information":{"description":"Hide host and meeting ID from private meetings.","type":"boolean","example":true},"list_meetings_with_calendar":{"description":"Display meeting list with calendar integration.","type":"boolean","example":true},"start_airplay_manually":{"description":"Start AirPlay service manually.","type":"boolean","example":true},"ultrasonic":{"description":"Automatic direct sharing using an ultrasonic proximity signal.","type":"boolean","example":true},"upcoming_meeting_alert":{"description":"Upcoming meeting alert.","type":"boolean","example":true},"weekly_system_restart":{"description":"Weekly system restart.","type":"boolean","example":true},"zr_post_meeting_feedback":{"description":"Zoom Room post meeting feedback.","type":"boolean","example":true}},"type":"object"}},"title":"Account settings","type":"object"},{"oneOf":[{"properties":{"allow_authentication_exception":{"description":"Whether to enable the [**Allow authentication exception**](https://support.zoom.us/hc/en-us/articles/360037117472#h_01F13A9N1FQFNVESC9C21NRHXY) setting. This lets hosts invite users who can bypass authentication.","type":"boolean","example":true},"authentication_options":{"description":"Meeting Authentication Options","items":{"properties":{"default_option":{"description":"Authentication default option","type":"boolean","example":true},"domains":{"description":"Authentication domains.","type":"string","example":"test.com"},"id":{"description":"Authentication id","type":"string","example":"qef22g34gr3g43g33rv43"},"name":{"description":"Authentication name","type":"string","example":"test"},"type":{"description":" Authentication type. Specify one of the following authentication types for the authentication profile:<br>\n * `enforce_login`: This option allows any users to join the meeting or webinar, as long as they are signed into their Zoom account.\n * `enforce_login_with_domains`: This option, allows you to specify a rule so that only those Zoom users whose email addresses contain a certain domain, can join the meeting or webinar. You can either add multiple domains using a comma in between and/or use a wildcard for listing domains.<br>\n * `enforce_login_with_same_account`: This option allows users to join the meeting or webinar with the same Zoom account.","enum":["enforce_login","enforce_login_with_same_account","enforce_login_with_domains"],"type":"string","example":"enforce_login_with_domains"},"visible":{"description":"Authentication visible","type":"boolean","example":true}},"type":"object"},"type":"array"},"meeting_authentication":{"description":"Only authenticated users can join meetings","type":"boolean","example":true}},"type":"object"},{"properties":{"authentication_options":{"items":{"properties":{"default_option":{"description":"Authentication default option","type":"boolean","example":true},"domains":{"description":"Authentication domains.","type":"string","example":"test.com"},"id":{"description":"Authentication id","type":"string","example":"qwefwqefqwf43231231"},"name":{"description":"Authentication name","type":"string","example":"test"},"type":{"description":"Authentication type","enum":["internally","enforce_login","enforce_login_with_domains"],"type":"string","example":"enforce_login"},"visible":{"description":"Authentication visible","type":"boolean","example":true}},"type":"object"},"type":"array"},"recording_authentication":{"description":"Only authenticated users can view cloud recordings","type":"boolean","example":true}},"type":"object"}],"title":"AccountSettingsAuthentication","type":"object"},{"description":"[Security settings](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) of an Account.","properties":{"admin_change_name_pic":{"type":"boolean","deprecated":true,"description":"Whether to only allow account administrators to change a user's picture.","example":true},"admin_change_user_info":{"type":"boolean","description":"Whether to only allow account administrators to change a user's information.","example":true},"user_modifiable_info_by_admin":{"type":"array","description":"If the `admin_change_user_info` value is `true`, the list of the types of user information that only the account administrators can modify: \n* `name` \n* `profile_picture` \n* `sign_in_email` \n* `host_key`","items":{"type":"string","enum":["name","profile_picture","sign_in_email","host_key"],"example":["name","host_key","sign_in_email"]}},"hide_billing_info":{"description":"Hide billing information.","type":"boolean","example":true},"import_photos_from_devices":{"description":"Allow users to import photos from a photo library on a  device.","type":"boolean","example":true},"password_requirement":{"description":"This object refers to the [enhanced password rules](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) that allows Zoom account admins and owners to apply extra requirements to the users' Zoom login password.","properties":{"consecutive_characters_length":{"description":"\nSpecify the max length of consecutive characters(abcde...) that can be used in a password.\nIf you set the value of this field to `0`, no restriction will be applied on consecutive characters. \n\nIf you would like to set this restriction, you can specify a number between 4 and 8 that define the maximum allowed length for consecutive characters in a password.\n\nThe max allowed length will be `n-1` where `n` refers to the value you provide for this field.  For instance, if you provide `4` as the value, there can only be a maximum of `3` consecutive characters in a password(example: abc1x@8fdh).","type":"integer","example":8},"have_special_character":{"description":"If the value of this field is set to `true`, the password must have at least one special character(!, @, #...).","type":"boolean","example":true},"minimum_password_length":{"description":"Specify a minimum length for the password. The password length can be from a minimum of 9 characters, up to 14 characters. If you provide `0` as the value of this field, this field will be disabled and not be used and the basic password length requirement (minimum of 8 characters) will be applied for the requirement.","maximum":14,"minimum":8,"type":"integer","example":8},"weak_enhance_detection":{"description":"If the value of this field is set to `true`, user passwords will have to pass detection through a weak password dictionary in case hackers use simple passwords to sign in to your users' accounts.","type":"boolean","example":true}},"type":"object"},"sign_again_period_for_inactivity_on_client":{"description":"Settings for User Sign In interval requirements after a period of inactivity. If enabled, this setting forces automatic logout of users in Zoom Client app after a set amount of time. <br>\n\nIf this setting is disabled, the value of this field will be `0`. If the setting is enabled, the value of this field will indicate the **period of inactivity** in minutes after which, an inactive user will be automatically logged out of the Zoom Client. The value for the period of inactivity can be one of the following:<br>\n\n`5`: 5 minutes<br>\n`10`: 10 minutes<br>\n`15`: 15 minutes<br>\n`30`: 30 minutes<br>\n`45`: 45 minutes<br>\n`60`: 60 minutes<br>\n`90`: 90 minutes<br>\n`120`: 120 minutes\n","type":"integer","example":45},"sign_again_period_for_inactivity_on_web":{"description":"Settings for User Sign In interval requirements after a period of inactivity. If enabled, this setting forces automatic logout of users in Zoom Web Portal after a set amount of time. <br>\n\nIf this setting is disabled, the value of this field will be `0`. If the setting is enabled, the value of this field will indicate the **period of inactivity** in minutes after which, an inactive user will be automatically logged out of the Zoom Web Portal. The value for the period of inactivity can be one of the following:<br>\n\n`5`: 5 minutes<br>\n`10`: 10 minutes<br>\n`15`: 15 minutes<br>\n`30`: 30 minutes<br>\n`60`: 60 minutes<br>\n`120`: 120 minutes\n\n    \n\n","type":"integer","example":60},"sign_in_with_two_factor_auth":{"description":"Settings for 2FA( [two factor authentication](https://support.zoom.us/hc/en-us/articles/360038247071) ). The value can be one of the following:\n`all`: Two factor authentication will be enabled for all users in the account.<br>\n`none`: Two factor authentication is disabled.<br>\n`group`: Two factor authentication will be enabled for users belonging to specific groups. If 2FA is enabled for certain groups, the group IDs of the group(s) will be provided in the `sign_in_with_two_factor_auth_groups` field.<br>\n`role`: Two factor authentication will be enabled only for users assigned with specific roles in the account. If 2FA is enabled for specific roles, the role IDs will be provided in the\n`sign_in_with_two_factor_auth_roles` field.\n","enum":["all","group","role","none"],"type":"string","example":"group"},"sign_in_with_two_factor_auth_groups":{"description":"This field contains group IDs of groups that have 2FA enabled. This field is only returned if the value of `sign_in_with_two_factor_auth` is `group`","items":{"type":"string","example":"group"},"type":"array"},"sign_in_with_two_factor_auth_roles":{"description":"This field contains role IDs of roles that have 2FA enabled. This field is only returned if the value of `sign_in_with_two_factor_auth` is `role`.","items":{"type":"string","example":"role"},"type":"array"}},"type":"object"},{"description":"The account's meeting and webinar security settings.","properties":{"meeting_security":{"properties":{"auto_security":{"description":"Whether all meetings must be secured with at least one security option. \n\n This setting can only be disabled by Enterprise, ISV, Business (with more than 100 licenses), and Education accounts.","type":"boolean","example":true},"block_user_domain":{"description":"Whether users in specific domains are blocked from joining meetings and webinars.","type":"boolean","example":true},"block_user_domain_list":{"description":"The blocked domains.","items":{"maxLength":30,"minLength":5,"type":"string","example":"example.com"},"maxItems":20,"type":"array"},"chat_etiquette_tool":{"description":"Information about the **Chat Etiquette Tool**.","properties":{"enable":{"description":"Whether to enable the **Chat Etiquette Tool**.","type":"boolean","example":true},"policies":{"description":"Information about the defined **Chat Etiquette Tool** policies.","items":{"properties":{"description":{"description":"The policy's description.","type":"string","example":"The policy's description"},"id":{"description":"The policy ID.","type":"string","example":"afwef342tr2qfwrg"},"is_locked":{"description":"Whether the policy is locked by an account-level user. When it is locked, users cannot update the policy.","type":"boolean","example":true},"keywords":{"description":"A list of defined rule keywords.","items":{"type":"string","example":"test"},"type":"array"},"name":{"description":"The policy name.","type":"string","example":"The policy name"},"regular_expression":{"description":"The regular expression to match to the content of chat messages.","type":"string","example":"^test"},"status":{"description":"The policy's current status: \n* `activated` — Activated. \n* `deactivated` — Deactivated.","enum":["activated","deactivated"],"type":"string","x-enum-descriptions":["Activated.","Deactivated."],"example":"activated"},"trigger_action":{"description":"The policy's trigger action: \n* `1` — Ask the user to confirm before they send the message. \n* `2` — Block the user's message.","enum":[1,2],"type":"integer","x-enum-descriptions":["Ask the user to confirm before they send the message.","Block the user's message."],"example":1}},"type":"object"},"type":"array"},"policy_max_count":{"description":"The read-only maximum number of **Chat Etiquette Tool** policies.","type":"integer","example":14}},"type":"object"},"embed_password_in_join_link":{"description":"Whether the meeting password is encrypted and included in the invitation link. The provided link will allow participants to join the meeting without having to enter the password.","type":"boolean","example":true},"encryption_type":{"description":"The type of encryption used when starting a meeting: \n* `enhanced_encryption` — Enhanced encryption. Encryption data is stored in the cloud. \n* `e2ee` — End-to-end encryption. The encryption key is stored on the local device and cannot be obtained by anyone else. Enabling E2EE also [**disables** certain features](https://support.zoom.us/hc/en-us/articles/360048660871), such as cloud recording, live streaming, and allowing participants to join before the host.","enum":["enhanced_encryption","e2ee"],"type":"string","example":"e2ee"},"end_to_end_encrypted_meetings":{"description":"Whether to enable end-to-end encryption for meetings.","type":"boolean","example":true},"meeting_password":{"description":"Whether all instant and scheduled meetings that users can join via client or Zoom Rooms systems are password-protected. [Personal Meeting ID (PMI)](https://support.zoom.us/hc/en-us/articles/203276937) meetings are **not** included in this setting.","type":"boolean","example":true},"meeting_password_requirement":{"description":"Information about the meeting and webinar [password requirements](https://support.zoom.us/hc/en-us/articles/360033559832-Meeting-and-webinar-passwords#h_a427384b-e383-4f80-864d-794bf0a37604).","properties":{"consecutive_characters_length":{"description":"The maximum length of consecutive characters (for example, `abcdef`) allowed in a password: \n* `4` through `8` — The maximum consecutive characters length. The length is `n` minus `1`, where `n` is the value. For example, if the value is `4`, there can only be a maximum of `3` consecutive characters in a password (for example, `abc1x@8fdh`). \n* `0` — No consecutive character restriction.","enum":[0,4,5,6,7,8],"type":"integer","example":0},"have_letter":{"description":"Whether passwords must contain at least one letter character.","type":"boolean","example":true},"have_number":{"description":"Whether passwords must contain at least one numeric character.","type":"boolean","example":true},"have_special_character":{"description":"Whether passwords must contain at least one special character. For example, `!`, `@`, and/or `#` characters.","type":"boolean","example":true},"have_upper_and_lower_characters":{"description":"Whether passwords must include uppercase and lowercase characters.","type":"boolean","example":true},"length":{"description":"The minimum password length.","type":"integer","example":10},"only_allow_numeric":{"description":"Whether passwords must contain **only** numeric characters.","type":"boolean","example":true},"weak_enhance_detection":{"description":"Whether users are informed when the provided password is weak.","type":"boolean","example":true}},"type":"object"},"only_authenticated_can_join_from_webclient":{"description":"Whether to specify that only authenticated users can join the meeting from the web client.","type":"boolean","example":true},"phone_password":{"description":"Whether passwords are required for participants joining by phone. \n\n If enabled and the meeting is password-protected, a numeric password is required for participants to join by phone. For meetings with alphanumeric passwords, a numeric password will be generated.","type":"boolean","example":true},"pmi_password":{"description":"Whether all Personal Meeting ID (PMI) meetings that users can join via client or Zoom Rooms systems are password-protected.","type":"boolean","example":true},"require_password_for_scheduled_meeting":{"description":"Whether passwords are required for meetings that have already been scheduled.","type":"boolean","example":true},"require_password_for_scheduled_webinar":{"description":"Whether passwords are required for webinars that have already been scheduled.","type":"boolean","example":true},"waiting_room":{"description":"Whether participants are placed in the [**Waiting Room**](https://support.zoom.us/hc/en-us/articles/115000332726-Waiting-Room) when they join a meeting. \n\n When the **Waiting Room** feature is enabled, the [**Allow participants to join before host**](https://support.zoom.us/hc/en-us/articles/202828525-Allow-participants-to-join-before-host) setting is disabled.","type":"boolean","example":true},"waiting_room_settings":{"description":"Information about the Waiting Room settings.","properties":{"participants_to_place_in_waiting_room":{"description":"The type of participants to be admitted to the Waiting Room: \n* `0` — All attendees. \n* `1` — Users who are not in your account. \n* `2` — Users who are not in your account and are not part of your [allowed domains list](https://support.zoom.us/hc/en-us/articles/360037117472-Configuring-authentication-profiles#h_e3cf0d5f-eec7-4c2a-ad29-ef2a5079a7da).","enum":[0,1,2],"type":"integer","example":1},"users_who_can_admit_participants_from_waiting_room":{"description":"The users who can admit participants from the Waiting Room: \n* `0` — Host and co-hosts only. \n* `1` — Host, co-hosts, and anyone who bypassed the Waiting Room if the host and co-hosts are not present.","enum":[0,1],"type":"integer","example":1},"whitelisted_domains_for_waiting_room":{"description":"If the `participants_to_place_in_waiting_room` field is `2`, a comma-separated list of the domains that can bypass the Waiting Room (`\"example.com,example2.com\"`).","type":"string","example":"example.com"}},"type":"object"},"webinar_password":{"description":"Whether to generate a password when scheduling webinars. Participants must use the generated password to join the scheduled webinar.","type":"boolean","example":true}},"type":"object"}},"title":"Meeting or Webinar Security Account Settings","type":"object"},{"title":"Video SDK Account Settings","type":"object","properties":{"in_meeting":{"deprecated":true,"type":"object","properties":{"custom_data_center_regions":{"description":"Whether custom [data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-meetings-webinars) are in use: \n* `true` — Users can [select data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) to use for hosting real-time meeting traffic. The data center regions can be provided in the `data_center_regions` field. \n* `false` — Only the default data center regions.","type":"boolean","example":false},"data_center_regions":{"type":"array","description":"If the value of `custom_data_center_regions` is `true`, a comma-separated list of the selected custom [data center regions](https://support.zoom.us/hc/en-us/articles/360059254691-Datacenter-abbreviation-list): \n* `AU` — Australia.\n* `LA` — Latin America. \n* `CA` — Canada. \n* `CN` — China. \n* `DE` — Germany. \n* `HK` — Hong Kong SAR. \n* `IN` — India. \n* `IE` — Ireland. \n* `TY` — Japan. \n* `MX` — Mexico. \n* `NL` — Netherlands. \n* `SG` — Singapore. \n* `US` — United States.","items":{"type":"string","enum":["AU","LA","CA","CN","DE","HK","IN","IE","TY","MX","NL","SG","US"],"example":"AU"}},"unchecked_data_center_regions":{"type":"array","description":"If the value of `custom_data_center_regions` is `true`, a comma-separated list the [data center regions](https://support.zoom.us/hc/en-us/articles/360059254691-Datacenter-abbreviation-list) that are **not** selected: \n* `EU` — Europe. \n* `HK` — Hong Kong. \n* `AU` — Australia. \n* `IN` — India. \n* `LA` — Latin America. \n* `TY` — Tokyo. \n* `CN` — China. \n* `US` — United States. \n* `CA` — Canada.","items":{"enum":["EU","HK","AU","IN","TY","CN","US","CA","DE","NL","LA"],"type":"string","example":"EU"}}}},"in_session":{"type":"object","properties":{"custom_data_center_regions":{"description":"Whether custom [data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-meetings-webinars) are in use: \n* `true` — Users can [select data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) to use for hosting real-time meeting traffic. The data center regions can be provided in the `data_center_regions` field. \n* `false` — Only the default data center regions.","type":"boolean","example":false},"data_center_regions":{"type":"array","description":"If the value of `custom_data_center_regions` is `true`, a comma-separated list of the selected custom [data center regions](https://support.zoom.us/hc/en-us/articles/360059254691-Datacenter-abbreviation-list): \n* `AU` — Australia.\n* `LA` — Latin America. \n* `CA` — Canada. \n* `CN` — China. \n* `DE` — Germany. \n* `HK` — Hong Kong SAR. \n* `IN` — India. \n* `IE` — Ireland. \n* `TY` — Japan. \n* `MX` — Mexico. \n* `NL` — Netherlands. \n* `SG` — Singapore. \n* `US` — United States.","items":{"type":"string","enum":["AU","LA","CA","CN","DE","HK","IN","IE","TY","MX","NL","SG","US"],"example":"AU"}},"unchecked_data_center_regions":{"type":"array","description":"If the value of `custom_data_center_regions` is `true`, a comma-separated list the [data center regions](https://support.zoom.us/hc/en-us/articles/360059254691-Datacenter-abbreviation-list) that are **not** selected: \n* `EU` — Europe. \n* `HK` — Hong Kong. \n* `AU` — Australia. \n* `IN` — India. \n* `LA` — Latin America. \n* `TY` — Tokyo. \n* `CN` — China. \n* `US` — United States. \n* `CA` — Canada.","items":{"enum":["EU","HK","AU","IN","TY","CN","US","CA","DE","NL","LA"],"type":"string","example":"EU"}},"p2p_connetion":{"description":"Whether to enable the [**Peer to Peer connection while only 2 people are in a meeting**](https://support.zoom.us/hc/en-us/articles/360061410851-Enabling-Peer-to-Peer-connection-for-2-people-in-a-meeting) setting.","type":"boolean","example":true},"p2p_ports":{"description":"Whether to enable the **Listening ports range** setting.","type":"boolean","example":true},"ports_range":{"default":"","description":"When the `p2p_ports` value is `true`, the value is a semi-colon list of the peer to peer listening ports range, between `1` to `65535`. This value defaults to an empty string.","type":"string","example":"1;65535"},"dscp_audio":{"default":56,"description":"The DSCP audio marking value. This value defaults to `56`.","maximum":63,"minimum":1,"type":"integer","example":56},"dscp_marking":{"description":"Whether to enable [differentiated services code point (DSCP)](https://en.wikipedia.org/wiki/Differentiated_services) marking.","type":"boolean","example":true},"dscp_video":{"default":40,"description":"The DSCP video marking value. This value defaults to `40`.","maximum":63,"minimum":1,"type":"integer","example":40},"dscp_dual":{"type":"boolean","description":"Whether to use the differentiated services code point classifiers ('dscp_video', 'dscp_audio') in the dual way (incoming and outgoing).","example":false},"subsession":{"description":"Allow host to split meeting participants into separate, smaller rooms.","type":"boolean","example":true}}},"session_security":{"type":"object","properties":{"approved_or_denied_countries_or_regions":{"description":"Approve or block users from specific regions or countries from joining this meeting. \n","properties":{"approved_list":{"description":"List of countries/regions from where participants can join this meeting. ","items":{"type":"string","example":"CX"},"type":"array"},"denied_list":{"description":"List of countries/regions from where participants can not join this meeting. ","items":{"type":"string","example":"CA"},"type":"array"},"enable":{"description":"`true`: Setting enabled to either allow or block users from specific regions from joining your meetings. <br>\n\n`false`: Setting disabled.","type":"boolean","example":true},"method":{"description":"Specify whether to allow users from specific regions to join this meeting; or block users from specific regions from joining this meeting. <br><br>\n`approve`: Allow users from specific regions or countries to join this meeting. If this setting is selected, the approved regions or countries must be included in the `approved_list`.<br><br>\n`deny`: Block users from specific regions or countries from joining this meeting. If this setting is selected, the approved regions or countries must be included in the `denied_list`","enum":["approve","deny"],"type":"string","example":"approve"}},"type":"object"}}},"recording":{"type":"object","properties":{"cloud_recording":{"type":"boolean","description":"Whether hosts can record and save meetings or webinars to the cloud.","example":true},"record_speaker_view":{"type":"boolean","description":"Whether to enable recording the [**Active Speaker** view](https://support.zoom.us/hc/en-us/articles/360025561091-Recording-layouts#h_5c001397-33d6-47fb-bb40-1a3f68401581) during screen sharing.","example":true},"record_gallery_view":{"type":"boolean","description":"Whether to enable recording the [**Gallery** view](https://support.zoom.us/hc/en-us/articles/360025561091-Recording-layouts#h_889dc825-9d79-4139-b65d-e719669c546b) during screen sharing.","example":true},"record_audio_file":{"type":"boolean","description":"Whether to record one audio file for all participants.","example":true},"save_chat_text":{"type":"boolean","description":"Whether meeting and webinar chat texts are saved.","example":false},"show_timestamp":{"type":"boolean","description":"Whether timestamps are added to all meeting and webinar recordings.","example":true},"recording_audio_transcript":{"type":"boolean","description":"Whether to enable the [**Audio transcription**](https://support.zoom.us/hc/en-us/articles/115004794983-Audio-transcription-for-cloud-recordings) feature.","example":false},"cloud_recording_download":{"type":"boolean","description":"Whether to enable the [**Cloud recording downloads**](https://support.zoom.us/hc/en-us/articles/360060240972-Managing-cloud-recording-settings) setting.","example":true},"auto_delete_cmr":{"type":"boolean","description":"Whether cloud recordings are automatically deleted after a specific number of days.","example":true},"auto_delete_cmr_days":{"type":"integer","description":"When the `auto_delete_cmr` value is `true`, the number of days before Zoom automatically deletes cloud recordings: \n* `30` — 30 days. \n* `60` — 60 days. \n* `90` — 90 days. \n* `120` — 120 days.","enum":[30,60,90,120],"example":30}}}}}]}}},"description":"**HTTP Status Code:** `200` <br>\nAccount settings returned. \n\n**Error Code:** `200` <br>\nOnly available for paid accounts."},"404":{"description":"**HTTP Status Code:** `404` <br>\nNot Found \n\n**Error Code:** `2001` <br>\nAccount does not exist: $accountId"}},"tags":["Accounts"],"description":"Use this API to get an account's settings. To get the Master account's settings, use the `me` value for the `accountId` path parameter. \n\n**Scopes:** `account:read:admin` <br> **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` \n\n**Prerequisites:** \n* The account must be a paid account.","operationId":"accountSettings","summary":"Get account settings"},"patch":{"parameters":[{"description":"The account's ID. For the Master account, pass the `me` value for this parameter.","in":"path","name":"accountId","required":true,"schema":{"type":"string","example":"me"}},{"allowEmptyValue":true,"description":"Optional query parameters: \n* `meeting_authentication` — Use this query parameter to view the [meeting authentication settings](https://support.zoom.us/hc/en-us/articles/360037117472-Authentication-Profiles-for-Meetings-and-Webinars) applied to the user's account. \n* `recording_authentication` — Use this query parameter to view the [recording authentication settings](https://support.zoom.us/hc/en-us/articles/360037756671-Authentication-Profiles-for-Cloud-Recordings) applied to the user's account. \n* `security` — Use this query parameter to view the account's security settings. For example, password requirements for user login or two-factor authentication. \n* `meeting_security` — Use this query parameter to view the meeting security settings applied to the user's account.","in":"query","name":"option","schema":{"enum":["meeting_authentication","recording_authentication","security","meeting_security"],"type":"string","example":"meeting_security"}}],"responses":{"200":{"description":"**Error Code:** `200` <br>\nOnly available for paid accounts."},"204":{"description":"**HTTP Status Code:** `204` <br>\nAccount settings updated."},"300":{"description":"**Error Code:** `300` <br>\nThe domains provided are invalid. If you are providing multiple domains, separate each domain with a comma."},"404":{"description":"**HTTP Status Code:** `404`<br>\n Not Found \n\n**Error Code:** `2001` <br>\nAccount does not exist: $accountId"}},"tags":["Accounts"],"description":"Use this API to update an account's settings. To update the Master account's settings, pass the `me` value for the `accountId` path parameter. \n\n **Scopes:** `account:write:admin` <br> **[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `Medium` \n\n **Prerequisites:** \n* The account must be a paid account.","operationId":"accountSettingsUpdate","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"properties":{"security":{"description":"[Security settings](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) of an Account.","properties":{"admin_change_name_pic":{"type":"boolean","deprecated":true,"description":"Whether to only allow account administrators to change a user's picture.","example":true},"admin_change_user_info":{"type":"boolean","description":"Whether to only allow account administrators to change a user's information.","example":true},"user_modifiable_info_by_admin":{"type":"array","description":"If the `admin_change_user_info` value is `true`, the list of the types of user information that only the account administrators can modify: \n* `name` \n* `profile_picture` \n* `sign_in_email` \n* `host_key`","items":{"type":"string","enum":["name","profile_picture","sign_in_email","host_key"],"example":["name","host_key","sign_in_email"]}},"hide_billing_info":{"description":"Hide billing information.","type":"boolean","example":true},"import_photos_from_devices":{"description":"Allow users to import photos from a photo library on a  device.","type":"boolean","example":true},"password_requirement":{"description":"This object refers to the [enhanced password rules](https://support.zoom.us/hc/en-us/articles/360034675592-Advanced-security-settings#h_bf8a25f6-9a66-447a-befd-f02ed3404f89) that allows Zoom account admins and owners to apply extra requirements to the users' Zoom login pass
[...]
