{
    "openapi": "3.0.1",
    "info": {
        "title": "Connectwise PSA All Endpoints",
        "version": "2022.1",
        "x-connector-icon": "https://www.connectwise.com/globalassets/media/archive/brand-guidelines-2021/2021-icons/color/CW-icon-Blue.png",
        "x-connector-service": "connectwise",
        "x-connector-module": "core"
    },
    "servers": [
        {
            "url": "http://cloud.na.myconnectwise.net/v4_6_development/apis/3.0"
        }
    ],
    "paths": {
        "/company/addressFormats": {},
        "/company/addressFormats/{id}": {},
        "/company/addressFormats/{id}/info": {},
        "/company/addressFormats/count": {},
        "/company/addressFormats/info": {},
        "/company/addressFormats/info/count": {},
        "/company/billingSetups/info/count": {},
        "/company/communicationTypes": {},
        "/company/communicationTypes/{id}": {},
        "/company/communicationTypes/{id}/info": {},
        "/company/communicationTypes/{id}/usages": {},
        "/company/communicationTypes/{id}/usages/list": {},
        "/company/communicationTypes/count": {},
        "/company/communicationTypes/info": {},
        "/company/communicationTypes/info/count": {},
        "/company/companies": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Get List of ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
                "operationId": "getCompanyCompanies",
                "parameters": [
                    {
                        "name": "conditions",
                        "in": "query",
                        "description": "Examples: name contains 'mycompany', id=27, parentCompany/id in (37, 45, 52), numberOfEmployees > 500",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "childConditions",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "customFieldConditions",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageSize",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    },
                    {
                        "name": "pageId",
                        "in": "query",
                        "description": "",
                        "schema": {
                            "type": "integer",
                            "nullable": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
                        "content": {
                            "application/vnd.connectwise.com+json; version=2022.1": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "required": [
                                            "identifier",
                                            "name"
                                        ],
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "identifier": {
                                                "type": "string",
                                                "description": " Max length: 25;"
                                            },
                                            "name": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "status": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "addressLine1": {
                                                "type": "string",
                                                "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                            },
                                            "addressLine2": {
                                                "type": "string",
                                                "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                            },
                                            "city": {
                                                "type": "string",
                                                "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                            },
                                            "state": {
                                                "type": "string",
                                                "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                            },
                                            "zip": {
                                                "type": "string",
                                                "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 12;"
                                            },
                                            "country": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "identifier": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "phoneNumber": {
                                                "type": "string",
                                                "description": " Max length: 30;"
                                            },
                                            "faxNumber": {
                                                "type": "string",
                                                "description": " Max length: 30;"
                                            },
                                            "website": {
                                                "type": "string",
                                                "description": " Max length: 255;"
                                            },
                                            "territory": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "market": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "accountNumber": {
                                                "type": "string"
                                            },
                                            "defaultContact": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "dateAcquired": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "sicCode": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "parentCompany": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "identifier": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "annualRevenue": {
                                                "type": "number",
                                                "nullable": true
                                            },
                                            "numberOfEmployees": {
                                                "type": "integer",
                                                "nullable": true
                                            },
                                            "yearEstablished": {
                                                "type": "integer",
                                                "nullable": true
                                            },
                                            "revenueYear": {
                                                "type": "integer",
                                                "nullable": true
                                            },
                                            "ownershipType": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "timeZoneSetup": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "leadSource": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "leadFlag": {
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "unsubscribeFlag": {
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "calendar": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "userDefinedField1": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField2": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField3": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField4": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField5": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField6": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField7": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField8": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField9": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "userDefinedField10": {
                                                "type": "string",
                                                "description": " Max length: 50;"
                                            },
                                            "vendorIdentifier": {
                                                "type": "string"
                                            },
                                            "taxIdentifier": {
                                                "type": "string"
                                            },
                                            "taxCode": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "billingTerms": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "invoiceTemplate": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "description": "Invoice Template Setup Id",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "pricingSchedule": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "companyEntityType": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "billToCompany": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "identifier": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "billingSite": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "billingContact": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "invoiceDeliveryMethod": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "invoiceToEmailAddress": {
                                                "type": "string"
                                            },
                                            "invoiceCCEmailAddress": {
                                                "type": "string"
                                            },
                                            "deletedFlag": {
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "dateDeleted": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "deletedBy": {
                                                "type": "string"
                                            },
                                            "mobileGuid": {
                                                "type": "string",
                                                "format": "uuid",
                                                "nullable": true
                                            },
                                            "facebookUrl": {
                                                "type": "string"
                                            },
                                            "twitterUrl": {
                                                "type": "string"
                                            },
                                            "linkedInUrl": {
                                                "type": "string"
                                            },
                                            "currency": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "symbol": {
                                                        "type": "string"
                                                    },
                                                    "currencyCode": {
                                                        "type": "string"
                                                    },
                                                    "decimalSeparator": {
                                                        "type": "string"
                                                    },
                                                    "numberOfDecimals": {
                                                        "type": "integer"
                                                    },
                                                    "thousandsSeparator": {
                                                        "type": "string"
                                                    },
                                                    "negativeParenthesesFlag": {
                                                        "type": "boolean"
                                                    },
                                                    "displaySymbolFlag": {
                                                        "type": "boolean"
                                                    },
                                                    "currencyIdentifier": {
                                                        "type": "string"
                                                    },
                                                    "displayIdFlag": {
                                                        "type": "boolean"
                                                    },
                                                    "rightAlign": {
                                                        "type": "boolean"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "territoryManager": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "identifier": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "resellerIdentifier": {
                                                "type": "string"
                                            },
                                            "isVendorFlag": {
                                                "type": "boolean",
                                                "nullable": true
                                            },
                                            "types": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "nullable": true
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "_info": {
                                                            "type": "object",
                                                            "additionalProperties": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                },
                                                "description": "Integrer array of Company_Type_Recids to be assigned to company that can be passed in only during new company creation (post)\n            To update existing companies type, use the /company/companyTypeAssociations or /company/companies/{ID}/typeAssociations endpoints"
                                            },
                                            "site": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "nullable": true
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "_info": {
                                                        "type": "object",
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            },
                                            "integratorTags": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            },
                                            "_info": {
                                                "type": "object",
                                                "additionalProperties": {
                                                    "type": "string"
                                                }
                                            },
                                            "customFields": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "nullable": true
                                                        },
                                                        "caption": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "enum": [
                                                                "TextArea",
                                                                "Button",
                                                                "Currency",
                                                                "Date",
                                                                "Hyperlink",
                                                                "IPAddress",
                                                                "Checkbox",
                                                                "Number",
                                                                "Percent",
                                                                "Text",
                                                                "Password"
                                                            ],
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "entryMethod": {
                                                            "enum": [
                                                                "Date",
                                                                "EntryField",
                                                                "List",
                                                                "Option"
                                                            ],
                                                            "type": "string",
                                                            "nullable": true
                                                        },
                                                        "numberOfDecimals": {
                                                            "type": "integer",
                                                            "nullable": true
                                                        },
                                                        "value": {
                                                            "type": "object"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-connector-label": "FindCompanies",
                "x-connector-description": "Search companies.",
                "x-connector-pagination": {
                    "type": "link-header",
                    "parameters": {
                        "page": "page",
                        "limit": "pageSize",
                        "cursor": "pageId"
                    }
                }
            },
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Post ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
                "operationId": "postCompanyCompanies",
                "parameters": [],
                "requestBody": {
                    "description": "company",
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "identifier",
                                    "name",
                                    "site.name"
                                ],
                                "type": "object",
                                "properties": {
                                    "identifier": {
                                        "type": "string",
                                        "description": " Max length: 25;",
                                        "path": "identifier"
                                    },
                                    "name": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "name"
                                    },
                                    "addressLine1": {
                                        "type": "string",
                                        "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;",
                                        "path": "addressLine1"
                                    },
                                    "addressLine2": {
                                        "type": "string",
                                        "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;",
                                        "path": "addressLine2"
                                    },
                                    "city": {
                                        "type": "string",
                                        "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;",
                                        "path": "city"
                                    },
                                    "state": {
                                        "type": "string",
                                        "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;",
                                        "path": "state"
                                    },
                                    "zip": {
                                        "type": "string",
                                        "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 12;",
                                        "path": "zip"
                                    },
                                    "phoneNumber": {
                                        "type": "string",
                                        "description": " Max length: 30;",
                                        "path": "phoneNumber"
                                    },
                                    "faxNumber": {
                                        "type": "string",
                                        "description": " Max length: 30;",
                                        "path": "faxNumber"
                                    },
                                    "website": {
                                        "type": "string",
                                        "description": " Max length: 255;",
                                        "path": "website"
                                    },
                                    "accountNumber": {
                                        "type": "string",
                                        "path": "accountNumber"
                                    },
                                    "dateAcquired": {
                                        "type": "string",
                                        "format": "date-time",
                                        "path": "dateAcquired"
                                    },
                                    "annualRevenue": {
                                        "type": "number",
                                        "nullable": true,
                                        "path": "annualRevenue"
                                    },
                                    "numberOfEmployees": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "numberOfEmployees"
                                    },
                                    "yearEstablished": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "yearEstablished"
                                    },
                                    "revenueYear": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "revenueYear"
                                    },
                                    "leadSource": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "leadSource"
                                    },
                                    "leadFlag": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "path": "leadFlag"
                                    },
                                    "unsubscribeFlag": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "path": "unsubscribeFlag"
                                    },
                                    "userDefinedField1": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField1"
                                    },
                                    "userDefinedField2": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField2"
                                    },
                                    "userDefinedField3": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField3"
                                    },
                                    "userDefinedField4": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField4"
                                    },
                                    "userDefinedField5": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField5"
                                    },
                                    "userDefinedField6": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField6"
                                    },
                                    "userDefinedField7": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField7"
                                    },
                                    "userDefinedField8": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField8"
                                    },
                                    "userDefinedField9": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField9"
                                    },
                                    "userDefinedField10": {
                                        "type": "string",
                                        "description": " Max length: 50;",
                                        "path": "userDefinedField10"
                                    },
                                    "vendorIdentifier": {
                                        "type": "string",
                                        "path": "vendorIdentifier"
                                    },
                                    "taxIdentifier": {
                                        "type": "string",
                                        "path": "taxIdentifier"
                                    },
                                    "invoiceToEmailAddress": {
                                        "type": "string",
                                        "path": "invoiceToEmailAddress"
                                    },
                                    "invoiceCCEmailAddress": {
                                        "type": "string",
                                        "path": "invoiceCCEmailAddress"
                                    },
                                    "deletedFlag": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "path": "deletedFlag"
                                    },
                                    "dateDeleted": {
                                        "type": "string",
                                        "format": "date-time",
                                        "path": "dateDeleted"
                                    },
                                    "deletedBy": {
                                        "type": "string",
                                        "path": "deletedBy"
                                    },
                                    "mobileGuid": {
                                        "type": "string",
                                        "format": "uuid",
                                        "nullable": true,
                                        "path": "mobileGuid"
                                    },
                                    "facebookUrl": {
                                        "type": "string",
                                        "path": "facebookUrl"
                                    },
                                    "twitterUrl": {
                                        "type": "string",
                                        "path": "twitterUrl"
                                    },
                                    "linkedInUrl": {
                                        "type": "string",
                                        "path": "linkedInUrl"
                                    },
                                    "resellerIdentifier": {
                                        "type": "string",
                                        "path": "resellerIdentifier"
                                    },
                                    "isVendorFlag": {
                                        "type": "boolean",
                                        "nullable": true,
                                        "path": "isVendorFlag"
                                    },
                                    "types": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "_info": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "description": "Integrer array of Company_Type_Recids to be assigned to company that can be passed in only during new company creation (post)\n            To update existing companies type, use the /company/companyTypeAssociations or /company/companies/{ID}/typeAssociations endpoints",
                                        "path": "types"
                                    },
                                    "integratorTags": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "path": "integratorTags"
                                    },
                                    "customFields": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "caption": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "enum": [
                                                        "TextArea",
                                                        "Button",
                                                        "Currency",
                                                        "Date",
                                                        "Hyperlink",
                                                        "IPAddress",
                                                        "Checkbox",
                                                        "Number",
                                                        "Percent",
                                                        "Text",
                                                        "Password"
                                                    ],
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "entryMethod": {
                                                    "enum": [
                                                        "Date",
                                                        "EntryField",
                                                        "List",
                                                        "Option"
                                                    ],
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "numberOfDecimals": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "value": {
                                                    "type": "object"
                                                }
                                            }
                                        },
                                        "path": "customFields"
                                    },
                                    "status|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "status.id"
                                    },
                                    "status|name": {
                                        "type": "string",
                                        "path": "status.name"
                                    },
                                    "status|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "status._info"
                                    },
                                    "country|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "country.id"
                                    },
                                    "country|identifier": {
                                        "type": "string",
                                        "path": "country.identifier"
                                    },
                                    "country|name": {
                                        "type": "string",
                                        "path": "country.name"
                                    },
                                    "country|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "country._info"
                                    },
                                    "territory|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "territory.id"
                                    },
                                    "territory|name": {
                                        "type": "string",
                                        "path": "territory.name"
                                    },
                                    "territory|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "territory._info"
                                    },
                                    "market|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "market.id"
                                    },
                                    "market|name": {
                                        "type": "string",
                                        "path": "market.name"
                                    },
                                    "market|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "market._info"
                                    },
                                    "defaultContact|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "defaultContact.id"
                                    },
                                    "defaultContact|name": {
                                        "type": "string",
                                        "path": "defaultContact.name"
                                    },
                                    "defaultContact|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "defaultContact._info"
                                    },
                                    "sicCode|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "sicCode.id"
                                    },
                                    "sicCode|name": {
                                        "type": "string",
                                        "path": "sicCode.name"
                                    },
                                    "sicCode|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "sicCode._info"
                                    },
                                    "parentCompany|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "parentCompany.id"
                                    },
                                    "parentCompany|identifier": {
                                        "type": "string",
                                        "path": "parentCompany.identifier"
                                    },
                                    "parentCompany|name": {
                                        "type": "string",
                                        "path": "parentCompany.name"
                                    },
                                    "parentCompany|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "parentCompany._info"
                                    },
                                    "ownershipType|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "ownershipType.id"
                                    },
                                    "ownershipType|name": {
                                        "type": "string",
                                        "path": "ownershipType.name"
                                    },
                                    "ownershipType|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "ownershipType._info"
                                    },
                                    "timeZoneSetup|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "timeZoneSetup.id"
                                    },
                                    "timeZoneSetup|name": {
                                        "type": "string",
                                        "path": "timeZoneSetup.name"
                                    },
                                    "timeZoneSetup|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "timeZoneSetup._info"
                                    },
                                    "calendar|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "calendar.id"
                                    },
                                    "calendar|name": {
                                        "type": "string",
                                        "path": "calendar.name"
                                    },
                                    "calendar|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "calendar._info"
                                    },
                                    "taxCode|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "taxCode.id"
                                    },
                                    "taxCode|name": {
                                        "type": "string",
                                        "path": "taxCode.name"
                                    },
                                    "taxCode|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "taxCode._info"
                                    },
                                    "billingTerms|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "billingTerms.id"
                                    },
                                    "billingTerms|name": {
                                        "type": "string",
                                        "path": "billingTerms.name"
                                    },
                                    "billingTerms|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "billingTerms._info"
                                    },
                                    "invoiceTemplate|id": {
                                        "type": "integer",
                                        "description": "Invoice Template Setup Id",
                                        "nullable": true,
                                        "path": "invoiceTemplate.id"
                                    },
                                    "invoiceTemplate|name": {
                                        "type": "string",
                                        "path": "invoiceTemplate.name"
                                    },
                                    "invoiceTemplate|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "invoiceTemplate._info"
                                    },
                                    "pricingSchedule|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "pricingSchedule.id"
                                    },
                                    "pricingSchedule|name": {
                                        "type": "string",
                                        "path": "pricingSchedule.name"
                                    },
                                    "pricingSchedule|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "pricingSchedule._info"
                                    },
                                    "companyEntityType|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "companyEntityType.id"
                                    },
                                    "companyEntityType|name": {
                                        "type": "string",
                                        "path": "companyEntityType.name"
                                    },
                                    "companyEntityType|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "companyEntityType._info"
                                    },
                                    "billToCompany|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "billToCompany.id"
                                    },
                                    "billToCompany|identifier": {
                                        "type": "string",
                                        "path": "billToCompany.identifier"
                                    },
                                    "billToCompany|name": {
                                        "type": "string",
                                        "path": "billToCompany.name"
                                    },
                                    "billToCompany|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "billToCompany._info"
                                    },
                                    "billingSite|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "billingSite.id"
                                    },
                                    "billingSite|name": {
                                        "type": "string",
                                        "path": "billingSite.name"
                                    },
                                    "billingSite|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "billingSite._info"
                                    },
                                    "billingContact|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "billingContact.id"
                                    },
                                    "billingContact|name": {
                                        "type": "string",
                                        "path": "billingContact.name"
                                    },
                                    "billingContact|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "billingContact._info"
                                    },
                                    "invoiceDeliveryMethod|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "invoiceDeliveryMethod.id"
                                    },
                                    "invoiceDeliveryMethod|name": {
                                        "type": "string",
                                        "path": "invoiceDeliveryMethod.name"
                                    },
                                    "invoiceDeliveryMethod|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "invoiceDeliveryMethod._info"
                                    },
                                    "currency|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "currency.id"
                                    },
                                    "currency|symbol": {
                                        "type": "string",
                                        "path": "currency.symbol"
                                    },
                                    "currency|currencyCode": {
                                        "type": "string",
                                        "path": "currency.currencyCode"
                                    },
                                    "currency|decimalSeparator": {
                                        "type": "string",
                                        "path": "currency.decimalSeparator"
                                    },
                                    "currency|numberOfDecimals": {
                                        "type": "integer",
                                        "path": "currency.numberOfDecimals"
                                    },
                                    "currency|thousandsSeparator": {
                                        "type": "string",
                                        "path": "currency.thousandsSeparator"
                                    },
                                    "currency|negativeParenthesesFlag": {
                                        "type": "boolean",
                                        "path": "currency.negativeParenthesesFlag"
                                    },
                                    "currency|displaySymbolFlag": {
                                        "type": "boolean",
                                        "path": "currency.displaySymbolFlag"
                                    },
                                    "currency|currencyIdentifier": {
                                        "type": "string",
                                        "path": "currency.currencyIdentifier"
                                    },
                                    "currency|displayIdFlag": {
                                        "type": "boolean",
                                        "path": "currency.displayIdFlag"
                                    },
                                    "currency|rightAlign": {
                                        "type": "boolean",
                                        "path": "currency.rightAlign"
                                    },
                                    "currency|name": {
                                        "type": "string",
                                        "path": "currency.name"
                                    },
                                    "currency|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "currency._info"
                                    },
                                    "territoryManager|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "territoryManager.id"
                                    },
                                    "territoryManager|identifier": {
                                        "type": "string",
                                        "path": "territoryManager.identifier"
                                    },
                                    "territoryManager|name": {
                                        "type": "string",
                                        "path": "territoryManager.name"
                                    },
                                    "territoryManager|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "territoryManager._info"
                                    },
                                    "site|id": {
                                        "type": "integer",
                                        "nullable": true,
                                        "path": "site.id"
                                    },
                                    "site|name": {
                                        "type": "string",
                                        "path": "site.name"
                                    },
                                    "site|_info": {
                                        "type": "object",
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "path": "site._info"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
                        "content": {
                            "application/vnd.connectwise.com+json; version=2022.1": {
                                "schema": {
                                    "required": [
                                        "identifier",
                                        "name"
                                    ],
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "identifier": {
                                            "type": "string",
                                            "description": " Max length: 25;"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": " Max length: 50;"
                                        },
                                        "status": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "_info": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "addressLine1": {
                                            "type": "string",
                                            "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                        },
                                        "addressLine2": {
                                            "type": "string",
                                            "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                        },
                                        "city": {
                                            "type": "string",
                                            "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                        },
                                        "state": {
                                            "type": "string",
                                            "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 50;"
                                        },
                                        "zip": {
                                            "type": "string",
                                            "description": "At least one address field is required -- addressLine1, addressLine2, city, state, zip and/or country Max length: 12;"
                                        },
                                        "country": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "identifier": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "_info": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "phoneNumber": {
                                            "type": "string",
                                            "description": " Max length: 30;"
                                        },
                                        "faxNumber": {
                                            "type": "string",
                                            "description": " Max length: 30;"
                                        },
                                        "website": {
                                            "type": "string",
                                            "description": " Max length: 255;"
                                        },
                                        "territory": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "_info": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "market": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "_info": {
                                                    "type": "object",
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "accountNumber": {
                                            "type": "string"
                                        },
                                        "defaultContact": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "nullable": true
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "_info": {
                                                    "type": "object",
[...]
