{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "Voys",
        "description": "Voys is the top business VoIP provider in SA. The full-featured phone system for modern business. Free national calls and unmatched quality!",
        "x-connector-icon": "https://media.licdn.com/dms/image/C4D0BAQHmGozmYfaO4g/company-logo_200_200/0/1519875456007?e=1698278400&v=beta&t=OC5pg6GSvRE9vOeRS1aMG77aYQjH4rsBr1ikpUyUy0c",
        "x-connector-service": "voys",
        "x-connector-module": "freedom"
    },
    "servers": [{
        "url": "https://freedom.voys.nl/api"
    }],
    "x-connector-connection": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "value": "token {username}:{apiKey}",
        "schema": {
            "type": "object",
            "properties": {
                "username": {
                    "type": "string",
                    "title": "Username"
                },
                "apiKey": {
                    "type": "string",
                    "title": "API Key"
                }
            }
        },
        "check": {
            "method": "GET",
            "url": "/callnotification/callnotification/",
            "headers": {
                "Authorization": "token {username}:{apiKey}"
            },
            "expect": {
                "status": 405
            }
        },
        "profile": "{username}"
    },
    "security": [{
        "api_key_header": [],
        "username": []
    }],
    "paths": {
        "/calls": {
            "x-connector-webhook-create": {
                "operationId": "WatchCall",
                "description": "Triggers when a new call is created, ringing, in progress or ended.",
                "x-connector-type": "trigger",
                "x-connector-webhook": {
                    "type": "subscription",
                    "subscribeRequestUrl": "{$baseUrl}/callnotification/callnotification/",
                    "subscribeRequestMethod": "POST",
                    "subscribeRequestBody": { "target_url": "{$webhookUrl}" },
                    "unsubscribeRequestUrl": "{$baseUrl}/callnotification/callnotification/{$response.body#/id}/",
                    "unsubscribeRequestMethod": "DELETE",
                    "unsubscribeRequestBody": null,
                    "output": "$request.body",
                    "outputCondition": "$boolean(status=$parameters.status)"
                },
                "parameters": [{
                    "name": "status",
                    "in": "body",
                    "description": "Select an event that you want to observe on calls.",
                    "required": true,
                    "schema": {
                        "type": "string",
                        "enum": ["created", "ringing", "in-progress", "ended"],
                        "default": "created"
                    }
                }],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CallNotification"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "username": {
                "type": "apiKey",
                "name": "username",
                "in": "header"
            },
            "api_key_header": {
                "type": "apiKey",
                "name": "apiKey",
                "in": "header"
            }
        },
        "schemas": {
            "CallNotification": {
                "type": "object",
                "properties": {
                    "call_id": {
                        "type": "string"
                    },
                    "timestamp": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "reason": {
                        "type": "string"
                    },
                    "version": {
                        "type": "string"
                    },
                    "direction": {
                        "type": "string"
                    },
                    "caller": {
                        "type": "object",
                        "properties": {
                            "number": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "account_number": {
                                "type": "string"
                            },
                            "user_numbers": {
                                "type": "array",
                                "items": {}
                            },
                            "user_emails": {
                                "type": "array",
                                "items": {}
                            }
                        }
                    },
                    "destination": {
                        "type": "object",
                        "properties": {
                            "number": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    }
}



